<div class="event-list-alt">
    <div class="event-date"><span class="event-day">{tag_bookingday}</span><span class="event-month">{tag_bookingmonth}</span></div>
    <div class="event-info">
    	<span class="event-title">{tag_name}</span>
		<span class="event-desc">{tag_body,118}</span>
	</div>
</div>