@{ 
    
}

<div class="col-xs-12 main-content">


    <link rel="stylesheet" type="text/css" href="templates/orderforms/verticalsteps/style.css">

    <div id="order-verticalsteps">

        <div class="stepsbar">

            <div class="step "><strong>Step 1</strong><br><a href="cart.php">Choose Product</a></div>

            <div class="step "><strong>Step 2</strong><br>Domain Options</div>

            <div class="step active"><strong>Step 3</strong><br>Configure</div>

            <div class="step "><strong>Step 4</strong><br><a href="cart.php?a=view">Confirm Order</a></div>

            <div class="step "><strong>Step 5</strong><br><a href="cart.php?a=checkout">Checkout</a></div>

        </div>

        <div class="maincontent">

            <h1>Domains Configuration</h1>

            <p>Below you can configure the domain names in your shopping cart selecting the addon services you would like, providing required information for them and defining the nameservers that they will use.</p>


            <form method="post" action="/cart.php?a=confdomains">
                <input type="hidden" name="token" value="d112dab85b37c95cfbb302a1b88287e307d2af23">
                <input type="hidden" name="update" value="true">

                <p><strong>herbertmilhomme.us</strong> - 1 Year/s <span style="color:#009900;">[Has Hosting]</span></p>
                <div class="orderbox">
                    <b class="orderboxrtop"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
                    <div class="orderboxpadding">
                        <label><input type="checkbox" name="dnsmanagement[0]"> DNS Management (FREE!)</label><br><label><input type="checkbox" name="emailforwarding[0]"> Email Forwarding (FREE!)</label><br><label><input type="checkbox" name="idprotection[0]"> ID Protection ($10.00)</label><br>Nexus Category: <select name="domainfield[0][0]" class="form-control select-inline"><option value="C11" selected="selected">C11</option><option value="C12">C12</option><option value="C21">C21</option><option value="C31">C31</option><option value="C32">C32</option></select><br>
                        Nexus Country: <input type="text" name="domainfield[0][1]" value="" size="20"> *<br>
                        Application Purpose: <select name="domainfield[0][2]" class="form-control select-inline"><option value="Business use for profit" selected="selected">Business use for profit</option><option value="Non-profit business">Non-profit business</option><option value="Club">Club</option><option value="Association">Association</option><option value="Religious Organization">Religious Organization</option><option value="Personal Use">Personal Use</option><option value="Educational purposes">Educational purposes</option><option value="Government purposes">Government purposes</option></select><br>
                    </div>
                    <b class="orderboxrbottom"><b class="r4"></b><b class="r3"></b><b class="r2"></b><b class="r1"></b></b>
                </div>


                <p align="center"><input type="submit" value="Update Cart"></p>

            </form>

        </div>

    </div>


</div>