<div class="poplets"> 
	<script type="text/javascript" src="/CatalystScripts/Cache/lightbox2022.js?vs=b1818.r472141-phase1"></script>
	<table cellspacing="0" class="productPoplets">
		<tbody>
			<tr>
				<td class="productPopletsItem">
					<a onclick="myLightbox.start(this); return false;" rel="lightbox[10263931]" href="/images/samples/tux-guy.jpg" title="">
						<img id="catpproduct0" src="/images/samples/tux-guy.jpg?Action=thumbnail&amp;width=65&amp;height=65&amp;USM=1" style="cursor:pointer;" alt="Men's Suit 1" border="0">
					</a>
				</td>@*
				<td class="productPopletsItem"><a onclick="myLightbox.start(this); return false;" rel="lightbox[10263931]" href="/images/samples/look-two_1.png" title=""><img id="catpproduct1" src="/images/samples/look-two_1.png?Action=thumbnail&amp;width=65&amp;height=65&amp;USM=1" style="cursor:pointer;" alt="Men's Suit 1" border="0"></a></td><td class="productPopletsItem"><a onclick="myLightbox.start(this); return false;" rel="lightbox[10263931]" href="/images/samples/look-three_1.png" title=""><img id="catpproduct2" src="/images/samples/look-three_1.png?Action=thumbnail&amp;width=65&amp;height=65&amp;USM=1" style="cursor:pointer;" alt="Men's Suit 1" border="0"></a></td><td class="productPopletsItem"><a onclick="myLightbox.start(this); return false;" rel="lightbox[10263931]" href="/images/samples/look-four_1.png" title=""><img id="catpproduct3" src="/images/samples/look-four_1.png?Action=thumbnail&amp;width=65&amp;height=65&amp;USM=1" style="cursor:pointer;" alt="Men's Suit 1" border="0"></a></td></tr><tr><td class="productPopletsItem"><a onclick="myLightbox.start(this); return false;" rel="lightbox[10263931]" href="/images/samples/look-five_1.png" title=""><img id="catpproduct4" src="/images/samples/look-five_1.png?Action=thumbnail&amp;width=65&amp;height=65&amp;USM=1" style="cursor:pointer;" alt="Men's Suit 1" border="0"></a></td><td class="productPopletsItem"></td><td class="productPopletsItem"></td><td class="productPopletsItem"></td>/*@
			</tr>
		</tbody>
	</table>
</div>