<ul class="productList productSmall">
	<li @*id="catProdTd_10263931"*@ class="productItem">
		@*<script type="text/javascript">
			document.getElementById('store-sidebar').style.display = "block";
		</script>
		<div class="shop-product-small clear">
			<div class="image"><a href="/mens/mens-suit-1"><img id="catsproduct_10263931" src="/images/samples/tux-guy.jpg" alt="Men's Suit 1" border="0"></a></div>
			<h2 class="product-name"><a href="/mens/mens-suit-1">Men's Suit 1</a></h2>
			<div class="price-box">
				<span class="regular-price"><span class="price">$520.00</span></span>
			</div>
		</div>*@
		@RenderPage("~/Layouts/OnlineShop/small_product.cshtml")
	</li>
</ul>