@{ 
    
}

				<div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3 class="panel-title">Tell us a bit about your company:</h3></div>
                            <div class="panel-body">
                                <form class="form-horizontal" role="form">    
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Company name:</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" readonly="" value="Readonly value">string
                                        </div>
                                    </div>         
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Address:</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" readonly="" value="Readonly value">string
                                        </div>
                                    </div> 
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Postal code:</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" readonly="" value="Readonly value">string (6 numeric)
                                        </div>
                                    </div> 
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Phone:</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" readonly="" value="Readonly value">string (9 numeric)
                                        </div>
                                    </div> 
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Mobile:</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" readonly="" value="Readonly value">string (9 numeric)
                                        </div>
                                    </div> 
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Email address:</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" readonly="" value="Readonly value">string
                                        </div>
                                    </div> 
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Affiliate:</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" readonly="" value="Readonly value">string (9 numeric)
                                        </div>
                                    </div>         
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">What does your company do?</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" readonly="" value="Readonly value">string
                                        </div>
                                    </div> 
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Best time to reach you?</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" readonly="" value="Readonly value">day|time
                                        </div>
                                    </div> 
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Best method to reach you by?</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" readonly="" value="Readonly value">phone|email
                                        </div>
                                    </div> 
									<div class="form-group">
                                        <label class="col-md-3 control-label">Type of website?</label>
										<!--Informational Websites : Information and resources
Brochure/Catalogue Style Websites : Similar to review or directory sites
E-Commerce Websites : Online exchange of goods for currency
Blogs : Online web logs
Personal Websites : Portfolio or even just
Forum Website
Social Media and Networking Websites
Photo Sharing Websites
Mobile Device Websites : Specially designed for mobile devices (Similar design and layout as mobile apps)
Static Website-->
                                            <div class="checkbox">
                                                <label class="cr-styled">
                                                    <input type="checkbox" disabled="" checked="">
                                                    <i class="fa"></i> 
                                                    Disabled Checked
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div> <!-- panel-body -->
                            <div class="panel-heading"><h3 class="panel-title">Let’s get down to business:</h3></div>
                            <div class="panel-body">
                                <form class="form-horizontal" role="form">    
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Readonly</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" readonly="" value="Readonly value">
                                        </div>
                                    </div>                 
                                </form>
                            </div> <!-- panel-body -->
                            <div class="panel-heading"><h3 class="panel-title">Form elements</h3></div>
                            <div class="panel-body">
                                <form class="form-horizontal" role="form">    
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Readonly</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" readonly="" value="Readonly value">
                                        </div>
                                    </div>                 
                                </form>
                            </div> <!-- panel-body -->
                        </div> <!-- panel -->
                    </div> <!-- col -->
                </div>



Do you need us to buy your domain? <!--(Y/N) bit-->
<!--Do you have a URL in mind for your website? www. string . string-->
Do you need us to handle hosting? <!--(Y/N) bit-->
Would you also be interested in email-hosting or email aliases?
What’s your deadline for this project? <!--(dd/mm/yy) date-->
Could you give us a ballpark figure for your available budget for the website project? <!--(€__________) decimal-->
 
The next few questions will help us understand exactly what you’re after with this site. Go ahead, tick as many as you need to:

B. Online Business Goals
"Please number these in order of 
priority for your online business. 
This will aid in focusing your online 
business goals."
Capturing Leads for your Products/Services
Building a Customer Database for marketing purposes
Selling Products/Services Online 
Capturing Bookings for your Events
Building a Community around your Business
Service your existing customers/provide “Member Only” content

I want this site because:
									<div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-9">
                                            <label class="cr-styled">
                                                <input type="checkbox">
                                                <i class="fa"></i> 
                                                Check me out !
                                            </label>
                                        </div>
                                    </div>
<!--I need to build awareness for my brand				bit
I need to offer a contact point to my clients		bit
I need my company to have a better image online		bit
I need to sell my product/service through my site	bit
I need to use it to build customer loyalty			bit
I need to reach people in many languages			bit
I need somewhere to promote my latest product/service	bit-->
I have my own reasons: string
 
My site will be built to target:
<!--Business customers (Other businesses and Vendors)		bit
Consumers 				bit-->
 
I’d like to target clients who are:
<!--Kids & teens			bit			In their 40s			bit
In their 20s			bit			In their 50s			bit
In their 30s			bit			Senior citizens			bit	-->
  
My clients come to me because:
I offer excellent service					bit
I have the best products on the market		bit
I have the best prices on the market		bit
 
Do you want to expand your target audience in a certain direction?

More specific features of your customers
 
<!--Some words about your company-->
Any Subsidiaries?
Average number of employees?
 
Someone’s searching the web for your business. What words or phrases will they search for in Google?
__________________	__________________	________________
__________________	__________________	________________
 
What is it that makes your products or services unique on the market?
__________________________________________________________

Do you have any proof that your solutions are better than your competitors?
__________________________________________________________

Our new website would need to include:		

A basic HTML site								bit
An HTML5/ CSS3 website							bit
Responsive design for use on tablets & mobiles	bit
A WordPress-based CMS							bit
Online Magazine									bit
Online forum/ blog								bit
Newsletter system								bit
Social network integration						bit
Intranet system									bit
Separate, dedicated landing pages				bit					
A redesign of a current website					bit			
Additional requirements	___________________
 

We want the following special features to be included in our new website:
									<div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-9">
                                            <label class="cr-styled">
                                                <input type="checkbox">
                                                <i class="fa"></i> 
                                                Check me out !
                                            </label>
                                        </div>
                                    </div>
Registration form			bit
Video streaming				bit
SQL Database				bit
Search panel				bit
Multicolumn layout			bit
Newsletter/ Email sign up forms	bit
Information/ request forms		bit
Uploads/ downloads			bit
Customer login				bit
<!--Registration				bit-->
An online store/shopping cart	bit
Online payment gateway		bit
Blog module					bit			
Image gallery				bit
Image slider				bit
Multiple Languages			bit
Other features ___________________
 
Help us out here - Who will provide the following resources?

Stock photography				[We will]	[Your Company]
Company photography				[We will]	[Your Company]
Other Artwork/ Illustrations	[We will]	[Your Company]
Translation costs				[We will]	[Your Company]
Copywriting text				[We will]	[Your Company]		
Professional logo				[We will]	[Your Company]
Graphic design					[We will]	[Your Company]
Other print collateral			[We will]	[Your Company]
Metatags/ description			[We will]	[Your Company]
Font Licenses					[We will]	[Your Company]
 
Moving on to the pretty stuff: Design!

how much creative thought did you invest into your websign design/layout?
0 - none, starting from scratch and open to ideas and suggestions
1 - i have colors and/or theme
2 - i have a list of ideas, but not sure what works for me
3 - i know what pages and features i want to include
4 - i want a redesign of a current website (or multiple sites)
5 - i've done this before, and already have something; just need an update and/or some changes 

Global Site Elements
"Please select the items, functionality 
or type of content you would like 
to appear as exactly the same on all 
pages.
This is known as your site template"
Navigation Menus
Newsletter Subscription Box
Site Search Box
Product Search Box
Member Only Sign In
Print this page
Site Breadcrumbs
Last Update Date
 
Does your company have a logo / established image & branding guidelines (e.g. fonts, colour schemes etc)? [Y/N] bit
Do you have print materials (such as business cards or brochures) that we need to match? [Y/N] bit
Could you give us the websites of your top 3 competitors? string string string
If you had to pick 3 websites you would love to have, which would they be? string string string
 
 

What will happen once we deliver the site?
 
Would you like us to update your site or would you like to be responsible for updates?
[We will update]	[That’s your job!]

How often do you require updates?
Daily		bit
Weekly		bit
Monthly		bit
Quarterly	bit
Other	string	
 
Would you like to book a dedicated training session for your employees to learn to update the site? [Y/N] bit
 
Is there anything else you’d like to tell us?	string
 
 
That’s all we need for now! Thanks for taking time to fill this in - we’ll be in touch with a quotation shortly.
 

