@{Layout = "~/Templates/PetAdoption/Layouts/Layout-Logged_out-home.cshtml";}
<div class="col-md-8 col-sm-8">
                            <div class="row">
                                <div class="col-xs-4 col-sm-3">
                                    <div class="shortcut">
                                        <a href="category.html"><i class="fa fa-car shortcut-icon icon-blue"></i></a>
                                        <a href="category.html"><h3>Car</h3></a>
                                        <span class="total-items">234,567</span>
                                    </div>
                                </div>
                                @*<div class="col-xs-4 col-sm-3">
                                    <div class="shortcut">
                                        <a href="category.html"><i class="fa fa-motorcycle shortcut-icon icon-green"></i></a>
                                        <a href="category.html"><h3>Motorcycle</h3></a>
                                        <span class="total-items">25,366</span>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-3">
                                    <div class="shortcut">
                                        <a href="category.html"><i class="fa fa-home shortcut-icon icon-brown"></i></a>
                                        <a href="category.html"><h3>Property</h3></a>
                                        <span class="total-items">252,546</span>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-3">
                                    <div class="shortcut">
                                        <a href="category.html"><i class="fa fa-female shortcut-icon icon-violet"></i></a>
                                        <a href="category.html"><h3>Fashion</h3></a>
                                        <span class="total-items">52,546</span>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-3">
                                    <div class="shortcut">
                                        <a href="category.html"><i class="fa fa-mobile-phone shortcut-icon icon-dark-blue"></i></a>
                                        <a href="category.html"><h3>Gadget</h3></a>
                                        <span class="total-items">215,546</span>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-3">
                                    <div class="shortcut">
                                        <a href="category.html"><i class="fa fa-soccer-ball-o shortcut-icon icon-orange"></i></a>
                                        <a href="category.html"><h3>Sport</h3></a>
                                        <span class="total-items">415,546</span>
                                    </div>  
                                </div>
                                <div class="col-xs-4 col-sm-3">
                                    <div class="shortcut">
                                        <a href="category.html"><i class="fa fa-gears shortcut-icon icon-light-blue"></i></a>
                                        <a href="category.html"><h3>Industry</h3></a>
                                        <span class="total-items">15,546</span>
                                    </div>  
                                </div>
                                <div class="col-xs-4 col-sm-3">
                                    <div class="shortcut">
                                        <a href="category.html"><i class="fa fa-wrench shortcut-icon icon-light-green"></i></a>
                                        <a href="category.html"><h3>Job</h3></a>
                                        <span class="total-items">152,546</span>
                                    </div>  
                                </div>*@
                            </div>
                            @RenderPage("Layouts/featured.cshtml")
                        </div>@*
                        <div class="col-md-4 col-sm-4">
                            @RenderPage("Layouts/widget/signup.cshtml")
                            @RenderPage("Layouts/widget/browsecatagory.cshtml")
                            <div class="banner-widget">
                                <img src="http://placehold.it/600x275" alt="banner" class="img-responsive">
                            </div>
                        </div>*@