
            <section class="main">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-5 login-form">
                            <div class="panel panel-default">
                                <div class="panel-intro text-center">
                                    <h1 class="logo"><i class="fa fa-recycle"></i> Dlapak</h1>
                                </div>
                                <div class="panel-body">
                                    <form>
                                        <div class="form-group">
                                            <input type="text" placeholder="Email or Username" class="form-control input-lg">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" placeholder="Password" class="form-control input-lg">
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-block btn-custom">Sign In</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="panel-footer">
                                    <div class="checkbox pull-left">
                                        <label for="terms" class="string optional">
                                            <input type="checkbox" style="" id="terms">Remember me
                                        </label>
                                    </div>
                                    <p class="text-center pull-right"> <a href="forgot_password.html"> Forgot password? </a> </p>
                                    <div style=" clear:both"></div>
                                </div>
                            </div>
                            <p class="text-center">Don't have an account? <a href="signup.html"><strong>Signup</strong></a></p>
                        </div>
                    </div>
                </div>
            </section>

        <script type="text/javascript">
            $(document).ready(function () {

                // ===========Featured Owl Carousel============
                if ($(".owl-carousel-featured").length > 0) {
                    $(".owl-carousel-featured").owlCarousel({
                        items: 3,
                        lazyLoad: true,
                        pagination: true,
                        autoPlay: 5000,
                        stopOnHover: true
                    });
                }

                // ==================Counter====================
                $('.item-count').countTo({
                    formatter: function (value, options) {
                        return value.toFixed(options.decimals);
                    },
                    onUpdate: function (value) {
                        console.debug(this);
                    },
                    onComplete: function (value) {
                        console.debug(this);
                    }
                });
            });
        </script>