@{
    
}

<h3>Interactive camera</h3>
<h4>Examine</h4>
<p>Activate this mode by pressing the "e" key.</p>
<table class="table table-striped">
<tr>
<th width="40%">Function</th>
<th>Mouse Button</th>
</tr>
<tbody>
<tr><td>Rotate</td>
<td>Left / Left + Shift</td>
</tr>
<tr><td>Pan</td>
<td>Mid / Left + Ctrl</td>
</tr>
<tr><td>Zoom</td>
<td>Right / Wheel / Left + Alt</td>
</tr>
<tr><td>Set center of rotation</td>
<td>Double-click left</td>
</tr>
</tbody>
</table>

<h4>Walk</h4>
<p>Activate this mode by pressing the "w" key.</p>
<table class="table table-striped">
<thead>
<tr><th width="40%">Function</th>
<th>Mouse Button</th>
</tr>
</thead>
<tbody>
<tr><td>Move forward</td>
<td>Left</td>
</tr>
<tr><td>Move backward</td>
<td>Right</td>
</tr>
</tbody>
</table>

<h4>Fly</h4>
<p>Activate this mode by pressing the "f" key.</p>
<table class="table table-striped">
<thead>
<tr><th width="40%">Function</th>
<th>Mouse Button</th>
</tr>
</thead>
<tbody>
<tr><td>Move forward</td>
<td>Left</td>
</tr>
<tr><td>Move backward</td>
<td>Right</td>
</tr>
</tbody>
</table>

<h4>Helicopter</h4>
<p>Activate this mode by pressing the "h" key.<br>
To look downwards/upwards and to move higher/lower use the keys (8/9 and 6/7).</p>
<table class="table table-striped">
<thead>
<tr><th width="40%">Function</th>
<th>Mouse Button</th>
</tr>
</thead>
<tbody>
<tr><td>Move forward</td>
<td>Left</td>
</tr>
</tbody>
</table>

<h4>Look at</h4>
<p>Activate this mode by pressing the "l" key.</p>
<table class="table table-striped">
<thead>
<tr><th width="40%">Function</th>
<th>Mouse Button</th>
</tr>
</thead>
<tbody>
<tr><td>Move in</td>
<td>Left</td>
</tr>
<tr><td>Move out</td>
<td>Right</td>
</tr>
</tbody>
</table>

<h4>Turntable</h4>
<p>The allowed interactions are the same as in examine mode. With the third and fourth value of the typeParams-Parameter you can set the minimal and maximal vertical rotation angle. Accepted values are between 0 and PI, starting from +Y (0) down to -Y (PI).
</p>
<table class="table table-striped">
<tr>
<th width="40%">Function</th>
<th>Mouse Button</th>
</tr>
<tbody>
<tr><td>Rotate</td>
<td>Left / Left + Shift</td>
</tr>
<tr><td>Pan</td>
<td>Mid / Left + Ctrl</td>
</tr>
<tr><td>Zoom</td>
<td>Right / Wheel / Left + Alt</td>
</tr>
<tr><td>Set center of rotation</td>
<td>Double-click left</td>
</tr>
</tbody>
</table>

<h4>Game</h4>
<p>Activate this mode by pressing the "g" key. To look around (rotate view) move the mouse.</p>
<table class="table table-striped">
<thead>
<tr><th width="40%">Function</th>
<th>Key</th>
</tr>
</thead>
<tbody>
<tr><td>Move forward</td>
<td>Cursor up</td>
</tr>
<tr><td>Move backwards</td>
<td>Cursor down</td>
</tr>
<tr><td>Strafe left</td>
<td>Cursor left</td>
</tr>
<tr><td>Strafe right</td>
<td>Cursor right</td>
</tr>
</tbody>
</table>

<h3>Non-interactive camera movement</h3>
<table class="table table-striped">
<thead>
<tr><th width="40%">Function</th>
<th>Key</th>
</tr>
</thead>
<tbody>
<tr><td>Reset view</td>
<td>r</td>
</tr>
<tr><td>Show all</td>
<td>a</td>
</tr>
<tr><td>Upright</td>
<td>u</td>
</tr>
</tbody>
</table>

<h3>Mid-Button troubleshooting</h3>
<p>If the web page has scroll bars and autoscrolling is enabled, Mid-Button currently does not work correctly. As a workaround, 
you can disable autoscrolling by unchecking the "Use autoscrolling" checkbox in the Firefox browser options, as is shown in the screenshot below (for the Firefox case).</p>
<img src="/_assets/x3dom-1.7.0/scrolling.png" width="450px" alt="Instructions on configuring web-browser to ">