<div class="blog-trackback">   
    <h6>&raquo; {tag_blogposturl} from {tag_blogname}</h6>   
    <p>{tag_blogpostbody}</p>   
    <p class="date">Tracked:&nbsp;<time datetime="{tag_blogpostdate}">{tag_blogpostdate}</time></p>  
</div>      
