@{ 
	var db = Database.Open("ColonielHeights");
	int userid = WebSecurity.IsAuthenticated ? WebSecurity.CurrentUserId : 0;
	var username = WebSecurity.IsAuthenticated ? db.QueryValue("SELECT Username FROM UserProfile WHERE userid=@0",WebSecurity.CurrentUserId) : "Guest";
	string OldMsg = WebSecurity.IsAuthenticated ? db.QueryValue("SELECT postmsg FROM website_livechat WHERE (userid=@0 OR username=@1) AND sent='false' ORDER BY postdate",WebSecurity.CurrentUserId, username) : string.Empty;

	if(IsPost){
        // Verify the request was submitted by the user
        AntiForgery.Validate();
		var sql = @"INSERT INTO website_livechat (userid, userName, ipaddress, postmsg, recipientuserid, sent) VALUES (@0, @1, @2, @3, @4, 'false')";

		System.Web.HttpContext context = System.Web.HttpContext.Current; 
		string ipAddress = context.Request.ServerVariables["HTTP_X_FORWARDED_FOR"];
		if (!string.IsNullOrEmpty(ipAddress))
		{
			string[] addresses = ipAddress.Split(',');
			if (addresses.Length != 0)
			{
				ipAddress = addresses[0];
			}
		}else{ipAddress = context.Request.ServerVariables["REMOTE_ADDR"];}

		var SendMsg = Request.Form["SendMsg"];		
		var recipientuserid = Request.QueryString["rid"] ? Request.QueryString["rid"] : 0;

		if(!string.IsNullOrEmpty(OldMsg) && !string.IsNullOrEmpty(SendMsg) && SendMsg.Length>0){
			sql = "UPDATE website_livechat SET username=@0, ipaddress=@1 postmsg=@2, WHERE recipientuserid=@3 AND userid=@4 AND sent='false'" ;
			db.Execute(sql, username,ipAddress,SendMsg,recipientuserid,userid);
		}/*else if(!string.IsNullOrEmpty(OldMsg) && (string.IsNullOrEmpty(SendMsg) || SendMsg.Length<1)){//If old message is there, and new message is blank: Delete Message
			sql = "UPDATE website_livechat SET username=@0, ipaddress=@1 postmsg=@2, WHERE recipientuserid=@3 AND userid=@4 AND sent='false'" ;
			db.Execute(sql, userid,username,ipAddress, SendMsg);
		}*/else{
			db.Execute(sql, userid,username,ipAddress, SendMsg, recipientuserid);
		}
		
		
		//Context.RedirectLocal("~/features/livechat");
	}
}
<form id="PostMsg" method="post" @*action="/Layouts/LiveChat/chat_window"*@ >
			@AntiForgery.GetHtml()
			<input type="text" id="SendMsg" name="SendMsg" spellcheck="true" @*value="@SendMsg"*@ placeholder="Enter Message" autocomplete="off" 
			@*onkeyup="sendLiveMsgs(this.value)"*@ />
			@*"javascript:document.getElementById('PostMsg').submit()"*@
			<input type="submit" value="Send" />
			<input type="hidden" id="ChatStart" name="ChatStart" value="@ChatStart" />
		</form>@*
<script>
	function SubmitOnEnter() {
		document.getElementById("SendMsg").addEventListener("keydown", function (e) {
			if (!e) { var e = window.event; }
			e.preventDefault(); // sometimes useful

			// Enter is pressed
			if (e.keyCode == 13) { document.getElementById("PostMsg").submit(); }
		}, false);
	}

	//while mouse is up, feed msgs into div
	function showLiveMsgs() {//(str)
		var xhttp; /*
	            if (str == "") {
	                document.getElementById("display-text").innerHTML = "";
	                return;
	            }*/
		xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function () {
			if (xhttp.readyState == 4 && xhttp.status == 200) {
				document.getElementById("display-text").innerHTML = xhttp.responseText;
			}
		}
		xhttp.open("GET", "/Layouts/LiveChat/chat_msgs?date=@@ChatStart", true);
		xhttp.send();
	}
	
	//while mouse is up, feed msgs into div
	function sendLiveMsgs(str) {//(str)
		var xhttp; /*
	            if (str == "") {
	                document.getElementById("display-text").innerHTML = "";
	                return;
	            }*/
		xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function () {
			if (xhttp.readyState == 4 && xhttp.status == 200) {
				document.getElementById("display-text").innerHTML = xhttp.responseText;
			}
		}
		xhttp.open("POST", "/Layouts/LiveChat/chat_allusers", true);
		xhttp.send();
	}
	/* --------------------------------------------------------- */
	var mousedownID = -1;  //Global ID of mouse down interval
	function mousedown(event) {
		if (mousedownID != -1) {  //Only stop if exists
			clearInterval(mousedownID);
			mousedownID = -1;
		}
	}
	function mouseup(event) {
		if (mousedownID == -1) {  //Prevent multiple loops!
			mousedownID = setInterval(showLiveMsgs, 10 /*execute every 10ms*/);
		}
	}
	//Assign events
	document.addEventListener("mousedown", mousedown);
	document.addEventListener("mouseup", mouseup);
	//Also clear the interval when user leaves the window with mouse
	document.addEventListener("mouseout", mousedown);
	document.addEventListener("pageshow", mouseup);
</script>*@