				<div class="col-xs-4 col-md-4 hidden-xs">
					<div class="shadow cstyle05">
						<div class="fwi one"><img src="{tag_image - 720x460_value}" alt="" /><div class="mhover none"><span class="icon"><a href="{tag_link url}"><img src="_assets/images/spacer.png" alt=""/></a></span></div></div>
						<div class="ctitle">{tag_title} <a href="{tag_link url}"><span>{tag_link text}</span></a></div>
					</div>
				</div>
				