@{
    
}

<div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
				<div class="section_7 appear-animation fadeInDown appear-animation-visible" data-appear-animation="fadeInDown" data-appear-animation-delay="1150" style="animation-delay: 1150ms;">
              <h3 class="section_title">Polls</h3>
              <div class="vote_widget">
                <h4>Do you like my website?</h4>
                <form>
                  <ul>
                    <li>
                      <input type="radio" checked="" id="radio_1" name="radio" class="hide">
                      <label for="radio_1">Yes, it’s awesome!</label>
                    </li>
                    <li>
                      <input type="radio" id="radio_2" name="radio" class="hide">
                      <label for="radio_2">It’s nice</label>
                    </li>
                    <li>
                      <input type="radio" id="radio_3" name="radio" class="hide">
                      <label for="radio_3">I don't really like it</label>
                    </li>
                    <li>
                      <input type="radio" id="radio_4" name="radio" class="hide">
                      <label for="radio_4">It’s awful</label>
                    </li>
                    <li>
                      <input type="radio" id="radio_5" name="radio" class="hide">
                      <label for="radio_5">No Comments</label>
                    </li>
                  </ul>
                </form>
                <div class="vote_buttons">
                  <a href="#" class="button button_orange">Vote</a>
                  <a href="#" class="button button_grey">View Results</a>
                </div>
              </div>
            </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="widget widget_newsletter form_section appear-animation fadeInDown appear-animation-visible" data-appear-animation="fadeInDown" data-appear-animation-delay="1150" style="animation: 1150ms 1150ms;">
                <h3 class="widget_title">Newsletter Sign Up</h3>
                <div class="form_text">Sign up to our newsletter and get exclusive deals you will not find anywhere else straight to your inbox!</div>
                <form id="newsletter">
                  <button type="submit" class="btn-email button button_white" data-type="submit"><i class="fa fa-envelope-o"></i></button>
                  <div class="wrapper">
                    <input type="email" placeholder="Your email address" name="newsletter-email">
                  </div> 
                <div class="message_container_subscribe"></div></form>
              </div>
            </div>
          </div>
<div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="widget widget_social_icons clearfix appear-animation fadeInDown appear-animation-visible" data-appear-animation="fadeInDown" data-appear-animation-delay="1150" style="animation: 1150ms 1150ms;">
                <h3 class="widget_title">Stay Connected</h3>
                <ul>
                  <li class="facebook">
                    <span class="tooltip">Facebook</span>
                    <a href="#">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li class="twitter">
                    <span class="tooltip">Twitter</span>
                    <a href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li class="google_plus">
                    <span class="tooltip">Google+</span>
                    <a href="#">
                      <i class="fa fa-google-plus"></i>
                    </a>
                  </li>
                  <li class="rss">
                    <span class="tooltip">Rss</span>
                    <a href="#">
                      <i class="fa fa-rss"></i>
                    </a>
                  </li>
                  <li class="pinterest">
                    <span class="tooltip">Pinterest</span>
                    <a href="#">
                      <i class="fa fa-pinterest"></i>
                    </a>
                  </li>
                  <li class="instagram">
                    <span class="tooltip">Instagram</span>
                    <a href="#">
                      <i class="fa fa-instagram"></i>
                    </a>
                  </li>
                  <li class="linkedin">
                    <span class="tooltip">LinkedIn</span>
                    <a href="#">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </li>
                  <li class="vimeo">
                    <span class="tooltip">Vimeo</span>
                    <a href="#">
                      <i class="fa fa-vimeo-square"></i>
                    </a>
                  </li>
                  <li class="youtube">
                    <span class="tooltip">Youtube</span>
                    <a href="#">
                      <i class="fa fa-youtube-play"></i>
                    </a>
                  </li>
                  <li class="flickr">
                    <span class="tooltip">Flickr</span>
                    <a href="#">
                      <i class="fa fa-flickr"></i>
                    </a>
                  </li>
                  <li class="envelope">
                    <span class="tooltip">Contact Us</span>
                    <a href="#">
                      <i class="fa fa-envelope-o"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>