@{
    
}
<style>
	.social_media_list{
    margin-left: -10px;
    margin-bottom: -10px;
  }

  .social_media_list li{
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
  }

    .social_media_list li a{
      padding: 20px 10px;
      text-align: center;
      display: inline-block;
      font-size: 24px;
      min-width: 113px;
    }

    .social_media_list li a:hover{
      color: #fff;
    }
      .social_media_list li .cssIcon{
          background: #fadeColor; /*less opacity*/
          color: #sigColor;
        }

        .social_media_list li .cssIcon:hover{
          background: #sigColor;
        }
@*
      .social_media_list li .rss{
          background: #fff0e6;
          color: #ff680d;
        }

        .social_media_list li .rss:hover{
          background: #ff680d;
        }
	
        .social_media_list li .fb{
          background: #edeff6;
          color: #4c66a3;
        }

        .social_media_list li .fb:hover{
          background: #4c66a3;
        }

        .social_media_list li .g_plus{
          background: #faebe9;
          color: #cf3e28;
        }

        .social_media_list li .g_plus:hover{
          background: #cf3e28;
        }

        .social_media_list li .you_tube{
          background: #fce9e9;
          color: #e42c27;
        }

        .social_media_list li .you_tube:hover{
          background: #e42c27;
        }

        .social_media_list li .twitter{
          background: #eaf9fd;
          color: #2fc2ee;
        }

        .social_media_list li .twitter:hover{
          background: #2fc2ee;
        }

        .social_media_list li .pint{
          background: #fae8e9;
          color: #cb2028;
        }

        .social_media_list li .pint:hover{
          background: #cb2028;
        }
	*@
        .social_media_list li a div{
          padding-top: 10px;
          font-family: 'Droid Serif', serif;
          font-weight: bold;
        }

        .social_media_list li p{
          font-size: 12px;
          text-transform: uppercase;
          font-weight: normal;
        }
</style>
<ul class="social_media_list clearfix">
                <li>
                  <a href="#ProfilePath" class="cssIcon" title="MediaName">
                    <i class="fa fa-cssIcon"></i>
                    <div>2,035</div>
                    <p>FollowerLabel</p>
                  </a>
                </li>
                @*<li>
                  <a href="#" class="rss">
                    <i class="fa fa-rss"></i>
                    <div>2,035</div>
                    <p>Subscribers</p>
                  </a>
                </li>
                <li>
                  <a href="#" class="fb">
                    <i class="fa fa-facebook"></i>
                    <div>3,794</div>
                    <p>Fans</p>
                  </a>
                </li>
                <li>
                  <a href="#" class="g_plus">
                    <i class="fa fa-google-plus"></i>
                    <div>941</div>
                    <p>Followers</p>
                  </a>
                </li>
                <li>
                  <a href="#" class="you_tube">
                    <i class="fa fa-youtube-play"></i>
                    <div>7,820</div>
                    <p>Subscribers</p>
                  </a>
                </li>
                <li>
                  <a href="#" class="twitter">
                    <i class="fa fa-twitter"></i>
                    <div>1,562</div>
                    <p>Followers</p>
                  </a>
                </li>
                <li>
                  <a href="#" class="pint">
                    <i class="fa fa-pinterest"></i>
                    <div>1,310</div>
                    <p>Followers</p>
                  </a>
                </li>*@
              </ul>