@{ 
    /*
	CREATE TABLE [dbo].[MailBox](
	[MailID] [bigint] IDENTITY(1,1) PRIMARY KEY NOT NULL,
	[MailTo] [int] NULL,
	[MailFrom] [int] NULL,
	[MailSub] [varchar](25) NULL,
	[MailMsg] [varchar](4000) NULL,
	[MailPostDate] [datetime] DEFAULT (getdate()) NULL,
	[Report] [bit] NULL,
	[ReportReason] [int] NULL,
	[Read] [bit] DEFAULT ((0)) NULL,
	[Attachment][bit] DEFAULT ((0))  NULL,
	[Draft] [bit] DEFAULT ((1)) NULL
	//Starred
	//Delete
	)
	*/
	//Loads messages based on form request sent.
	//if(Request.Form["mailid"] != null){render message}else{render inbox}
	//also, must match userid, removed,
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        
    </body>
</html>
