@{
    //same sql as nav header
    //match current page with previous, until root
}
<nav class="crumbs-a">
			<p><a href="/search-results">Search Results</a></p>
		</nav>

<nav>

	<fieldset class="breadcrumb" style="">
		<a href="misc/quick-navigation-menu?selected=node-62" class="OverlayTrigger jumpMenuTrigger" data-cacheoverlay="true" title="Open quick navigation"><i class="uix_icon uix_icon-sitemap"></i><!--Jump to...--></a>
			
		<div class="boardTitle"><strong>Herbert Milhomme</strong></div>
		
		<span class="crumbs">
			
				<span class="crust homeCrumb" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
					<a href="https://landofooo.com/community" class="crumb" rel="up" itemprop="url"><span itemprop="title"><i class="uix_icon uix_icon-home" title="Home"></i></span></a>
					<span class="arrow"><span></span></span>
				</span>

				<span class="crust selectedTabCrumb" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
					<a href="https://landofooo.com/community/" class="crumb" rel="up" itemprop="url"><span itemprop="title">Forums</span></a>
					<span class="arrow"><span>&gt;</span></span>
				</span>

					<span class="crust" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
						<a href="https://landofooo.com/community/.#adventure-time.57" class="crumb" rel="up" itemprop="url"><span itemprop="title">Adventure Time</span></a>
						<span class="arrow"><span>&gt;</span></span>
					</span>
				
					<span class="crust" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
						<a href="https://landofooo.com/community/forums/episode-discussion.60/" class="crumb" rel="up" itemprop="url"><span itemprop="title">Episode Discussion</span></a>
						<span class="arrow"><span>&gt;</span></span>
					</span>
				
					<span class="crust" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
						<a href="https://landofooo.com/community/forums/season-3-2011-2012.62/" class="crumb" rel="up" itemprop="url"><span itemprop="title">Season 3 (2011-2012)</span></a>
						<span class="arrow"><span>&gt;</span></span>
					</span>

		</span>
	</fieldset>
</nav>


<ol itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope
      itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="https://example.com/arts">
        <span itemprop="name">Arts</span></a>
    <meta itemprop="position" content="1" />
  </li>
  ›
  <li itemprop="itemListElement" itemscope
      itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="https://example.com/arts/books">
      <span itemprop="name">Books</span></a>
    <meta itemprop="position" content="2" />
  </li>
  ›
  <li itemprop="itemListElement" itemscope
      itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="https://example.com/arts/books/poetry">
      <span itemprop="name">Poetry</span></a>
    <meta itemprop="position" content="3" />
  </li>
</ol>

@section OUTSIDEBody{
<div id="AjaxProgress" class="xenOverlay" style="top: 0px;left: 0px;position: fixed;/* display: block; */"><div class="content"><span class="close"></span></div></div>
<div class="xenOverlay" style="z-index: 9999; top: 80.9px; left: 256.5px; position: fixed; display: block;"><div class="section"><h2 class="heading h1">Quick Navigation Menu</h2>
	<div id="jumpMenu">
		<div class="jumpMenuColumn">
			<h3 class="primaryContent">General Links</h3>
			<div class="secondaryContent">
				<div class="blockLinksList">
					<ul>
						<li><a href="https://landofooo.com/community">Home</a></li>
						<li><a href=".">Forums</a></li>
						
						
					</ul>
					<ul>
					
						<li><a href="login/">Log in or Sign up</a></li>
					
					</ul>
					<ul>
						<li><a href="help/">Help</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="jumpMenuColumn">
			<h3 class="primaryContent">Forum List</h3>
			<div class="secondaryContent nodeList">
				<ol class="blockLinksList">
					
						<li class="d0 ">
							<a href=".#the-candy-kingdom.49" class="OverlayCloser ">
								<span class="_depth0 depthPad">The Candy Kingdom</span>
							</a>
						</li>
					
						<li class="d1 ">
							<a href="forums/news-announcements.50/" class=" ">
								<span class="_depth1 depthPad">News &amp; Announcements</span>
							</a>
						</li>
					
						<li class="d1 ">
							<a href="forums/feedback-suggestions.51/" class=" ">
								<span class="_depth1 depthPad">Feedback &amp; Suggestions</span>
							</a>
						</li>
					
						<li class="d0 ">
							<a href=".#adventure-time.57" class="OverlayCloser ">
								<span class="_depth0 depthPad">Adventure Time</span>
							</a>
						</li>
					
						<li class="d1 ">
							<a href="forums/show-discussion.58/" class=" ">
								<span class="_depth1 depthPad">Show Discussion</span>
							</a>
						</li>
					
						<li class="d1 OverlayScroller">
							<a href="forums/episode-discussion.60/" class=" selected">
								<span class="_depth1 depthPad">Episode Discussion</span>
							</a>
						</li>
					
						<li class="d2 ">
							<a href="forums/season-7-2015.67/" class=" ">
								<span class="_depth2 depthPad">Season 7 (2015)</span>
							</a>
						</li>
					
						<li class="d2 ">
							<a href="forums/season-6-2014-2015.66/" class=" ">
								<span class="_depth2 depthPad">Season 6 (2014-2015)</span>
							</a>
						</li>
					
						<li class="d2 ">
							<a href="forums/season-5-2012-2014.63/" class=" ">
								<span class="_depth2 depthPad">Season 5 (2012-2014)</span>
							</a>
						</li>
					
						<li class="d2 ">
							<a href="forums/season-4-2012.61/" class=" ">
								<span class="_depth2 depthPad">Season 4 (2012)</span>
							</a>
						</li>
					
						<li class="d2 ">
							<a href="forums/season-3-2011-2012.62/" class=" ">
								<span class="_depth2 depthPad">Season 3 (2011-2012)</span>
							</a>
						</li>
					
						<li class="d2 ">
							<a href="forums/season-2-2010-2011.65/" class=" ">
								<span class="_depth2 depthPad">Season 2 (2010-2011)</span>
							</a>
						</li>
					
						<li class="d2 ">
							<a href="forums/season-1-2010.64/" class=" ">
								<span class="_depth2 depthPad">Season 1 (2010)</span>
							</a>
						</li>
					
						<li class="d1 ">
							<a href="forums/character-discussion.69/" class=" ">
								<span class="_depth1 depthPad">Character Discussion</span>
							</a>
						</li>
					
						<li class="d1 ">
							<a href="forums/theories-and-speculation.59/" class=" ">
								<span class="_depth1 depthPad">Theories and Speculation</span>
							</a>
						</li>
					
						<li class="d1 ">
							<a href="forums/adventure-time-art.68/" class=" ">
								<span class="_depth1 depthPad">Adventure Time Art</span>
							</a>
						</li>
					
						<li class="d0 ">
							<a href=".#other-shows.7" class="OverlayCloser ">
								<span class="_depth0 depthPad">Other Shows</span>
							</a>
						</li>
					
						<li class="d1 ">
							<a href="forums/steven-universe.8/" class=" ">
								<span class="_depth1 depthPad">Steven Universe</span>
							</a>
						</li>
					
						<li class="d2 ">
							<a href="forums/episode-discussion.10/" class=" ">
								<span class="_depth2 depthPad">Episode Discussion</span>
							</a>
						</li>
					
						<li class="d3 ">
							<a href="forums/season-1-2013-2015.11/" class=" ">
								<span class="_depth3 depthPad">Season 1 (2013 - 2015)</span>
							</a>
						</li>
					
						<li class="d3 ">
							<a href="forums/season-2-2015-2016.12/" class=" ">
								<span class="_depth3 depthPad">Season 2 (2015 - 2016)</span>
							</a>
						</li>
					
						<li class="d3 ">
							<a href="forums/season-3-2016.78/" class=" ">
								<span class="_depth3 depthPad">Season 3 (2016-)</span>
							</a>
						</li>
					
						<li class="d2 ">
							<a href="forums/character-discussion.13/" class=" ">
								<span class="_depth2 depthPad">Character Discussion</span>
							</a>
						</li>
					
						<li class="d2 ">
							<a href="forums/theories-speculation.9/" class=" ">
								<span class="_depth2 depthPad">Theories &amp; Speculation</span>
							</a>
						</li>
					
						<li class="d1 ">
							<a href="forums/regular-show.14/" class=" ">
								<span class="_depth1 depthPad">Regular Show</span>
							</a>
						</li>
					
						<li class="d2 ">
							<a href="forums/episode-discussion.16/" class=" ">
								<span class="_depth2 depthPad">Episode Discussion</span>
							</a>
						</li>
					
						<li class="d3 ">
							<a href="forums/seasons-1-5-2009-2014.17/" class=" ">
								<span class="_depth3 depthPad">Seasons 1 - 5 (2009-2014)</span>
							</a>
						</li>
					
						<li class="d3 ">
							<a href="forums/season-6-2014-2015.19/" class=" ">
								<span class="_depth3 depthPad">Season 6 (2014-2015)</span>
							</a>
						</li>
					
						<li class="d3 ">
							<a href="forums/season-7-2015-present.18/" class=" ">
								<span class="_depth3 depthPad">Season 7 (2015-present)</span>
							</a>
						</li>
					
						<li class="d2 ">
							<a href="forums/character-discussion.20/" class=" ">
								<span class="_depth2 depthPad">Character Discussion</span>
							</a>
						</li>
					
						<li class="d2 ">
							<a href="forums/theories-speculation.15/" class=" ">
								<span class="_depth2 depthPad">Theories &amp; Speculation</span>
							</a>
						</li>
					
						<li class="d1 ">
							<a href="forums/gravity-falls.21/" class=" ">
								<span class="_depth1 depthPad">Gravity Falls</span>
							</a>
						</li>
					
						<li class="d2 ">
							<a href="forums/episode-discussion.23/" class=" ">
								<span class="_depth2 depthPad">Episode Discussion</span>
							</a>
						</li>
					
						<li class="d3 ">
							<a href="forums/season-1-2012.24/" class=" ">
								<span class="_depth3 depthPad">Season 1 (2012)</span>
							</a>
						</li>
					
						<li class="d3 ">
							<a href="forums/season-2-2014-present.25/" class=" ">
								<span class="_depth3 depthPad">Season 2 (2014-present)</span>
							</a>
						</li>
					
						<li class="d2 ">
							<a href="forums/character-discussion.26/" class=" ">
								<span class="_depth2 depthPad">Character Discussion</span>
							</a>
						</li>
					
						<li class="d2 ">
							<a href="forums/theories-speculation.22/" class=" ">
								<span class="_depth2 depthPad">Theories &amp; Speculation</span>
							</a>
						</li>
					
						<li class="d0 ">
							<a href=".#roleplay-center.54" class="OverlayCloser ">
								<span class="_depth0 depthPad">Roleplay Center</span>
							</a>
						</li>
					
						<li class="d1 ">
							<a href="forums/roleplays.55/" class=" ">
								<span class="_depth1 depthPad">Roleplays</span>
							</a>
						</li>
					
						<li class="d1 ">
							<a href="forums/roleplay-planning-ooc-discussion.56/" class=" ">
								<span class="_depth1 depthPad">Roleplay Planning &amp; OOC Discussion</span>
							</a>
						</li>
					
						<li class="d0 ">
							<a href=".#the-cloud-kingdom.27" class="OverlayCloser ">
								<span class="_depth0 depthPad">The Cloud Kingdom</span>
							</a>
						</li>
					
						<li class="d1 ">
							<a href="forums/general-discussion.30/" class=" ">
								<span class="_depth1 depthPad">General Discussion</span>
							</a>
						</li>
					
						<li class="d1 ">
							<a href="forums/television-movies.47/" class=" ">
								<span class="_depth1 depthPad">Television &amp; Movies</span>
							</a>
						</li>
					
						<li class="d1 ">
							<a href="forums/books-literature-comics.48/" class=" ">
								<span class="_depth1 depthPad">Books, Literature &amp; Comics</span>
							</a>
						</li>
					
						<li class="d1 ">
							<a href="forums/consoles-video-games.29/" class=" ">
								<span class="_depth1 depthPad">Consoles &amp; Video Games</span>
							</a>
						</li>
					
						<li class="d1 ">
							<a href="forums/graphics-drawings-photos.28/" class=" ">
								<span class="_depth1 depthPad">Graphics, Drawings &amp; Photos</span>
							</a>
						</li>
					
						<li class="d1 ">
							<a href="forums/posting-games-misc-threads.46/" class=" ">
								<span class="_depth1 depthPad">Posting Games &amp; Misc. Threads</span>
							</a>
						</li>
					
				</ol>
			</div>
		</div>
	</div>
	<div class="sectionFooter overlayOnly"><a class="button primary OverlayCloser">Close</a></div>
</div></div>
<div id="exposeMask" style="position: absolute; top: 0px; left: 0px; z-index: 9998; opacity: 0.6; display: block; width: 1203px; height: 1291px; background-color: rgb(255, 255, 255);"></div>}