						<div class="listitem2">
							<a href="{tag_itemurl_nolink}"><img src="{tag_main image_value}" alt=""/></a>
							<a href="{tag_itemurl_nolink}"><div class="liover"></div></a>
							<a class="fav-icon" href="{tag_itemurl_nolink}"></a>
						</div>
						<h4>{tag_name}</h4>
						<h6 class="green">{tag_trip duration (in days)}-Day {tag_subtitle}</h6>
