<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en" ><!-- InstanceBegin template="/Templates/Tours-List.dwt" codeOutsideHTMLIsLocked="false" --> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" >
<!--<![endif]-->
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- InstanceBeginEditable name="doctitle" --><title></title><!-- InstanceEndEditable --><!-- InstanceBeginEditable name="head" --><!-- InstanceEndEditable -->
	
    {module_contentholder, name="_Template - Head Scripts"}
    
    <!-- Custom Date Picker -->	
	<link rel="stylesheet" href="/_assets/css/jquery-ui.css" />
	
  </head>
  <body id="top" class="thebg two-column">
    
    <!-- Header -->	
	{module_contentholder, name="_Template - Header"}
	<!-- /Header -->
	
	<div class="clearfix"></div>
	
	<div class="container page-top">		

		<!-- Content -->
		<div class="container pagecontainer offset-0">
			
			<!-- Sidebar Content -->
			<div class="col-md-3 filters offset-0 columns">
			
				<!-- Features Sidenav -->	
				{module_contentholder, name="_Sidebar - Search Tours"}
				<!-- /Features Sidenav -->
	
				
			</div>
			<!-- /Sidebar Content -->
			
			<!-- MAIN Content -->
			<div class="rightcontent col-md-9 offset-0 columns">
			
				<!-- Tour Pg Header -->	
				{module_contentholder, name="_Tours - Header"}
				<!-- /Tour Pg Header -->
				
				<div class="itemscontainer offset-1">
				
					<!-- InstanceBeginEditable name="ContentArea" -->{module_webappsresults}
<!-- InstanceEndEditable -->
					
					<div class="clearfix"></div>
					
				</div>
				
			</div>
			<!-- /MAIN Content -->
			
		</div>
		<!-- /Content -->
		
	</div>
				
	<!-- FOOTER -->
	{module_contentholder, name="_Template - Footer"}
	<!-- /FOOTER -->
			
	{module_contentholder, name="_Template - Footer Scripts"}
	{module_contentholder, name="_Template - Footer Scripts - Tours"}
	
  </body>
<!-- InstanceEnd --></html>
