@{
    
}

<div id="content" class="thread_create">
	
	<div class="pageWidth">
		<div class="pageContent noBorderRadius">
	
			<!-- main content area -->
			
			
			
			

			
			
			<div class="breadBoxTop  ">
				
				

<nav>

	
	
	
		
			
				
			
		
			
				
			
		
	

	<fieldset class="breadcrumb" style="">
		<a href="misc/quick-navigation-menu?selected=node-30" class="OverlayTrigger jumpMenuTrigger" data-cacheoverlay="true" title="Open quick navigation"><i class="uix_icon uix_icon-sitemap"></i><!--Jump to...--></a>
			
		<div class="boardTitle"><strong>The LandOfOoo</strong></div>
		
		<span class="crumbs">
			
				<span class="crust homeCrumb" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
					<a href="https://landofooo.com/community" class="crumb" rel="up" itemprop="url"><span itemprop="title"><i class="uix_icon uix_icon-home" title="Home"></i></span></a>
					<span class="arrow"><span></span></span>
				</span>
			
			
			
				<span class="crust selectedTabCrumb" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
					<a href="https://landofooo.com/community/" class="crumb" rel="up" itemprop="url"><span itemprop="title">Forums</span></a>
					<span class="arrow"><span>&gt;</span></span>
				</span>
			
			
			
				
					<span class="crust" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
						<a href="https://landofooo.com/community/.#the-cloud-kingdom.27" class="crumb" rel="up" itemprop="url"><span itemprop="title">The Cloud Kingdom</span></a>
						<span class="arrow"><span>&gt;</span></span>
					</span>
				
					<span class="crust" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
						<a href="https://landofooo.com/community/forums/general-discussion.30/" class="crumb" rel="up" itemprop="url"><span itemprop="title">General Discussion</span></a>
						<span class="arrow"><span>&gt;</span></span>
					</span>
				
			
		</span>
	</fieldset>
</nav>
				
			</div>
			
			
						
			
			
			
			
			
			
			

	
	
	
	
	
	
	
	


	
			
			
				<div class="mainContainer_noSidebar">
			
					
						<!--[if lt IE 8]>
							<p class="importantMessage">You are using an out of date browser. It  may not display this or other websites correctly.<br />You should upgrade or use an <a href="https://www.google.com/chrome/browser/" target="_blank">alternative browser</a>.</p>
						<![endif]-->
						
						
						
						





<div class="PanelScroller Notices" data-vertical="0" data-speed="400" data-interval="4000" style="display: block;">
	<div class="scrollContainer">
		<div class="PanelContainer">
			<ol class="Panels" style="position: static;">
				
					<li class="panel Notice DismissParent notice_5 " data-notice="5">
	
	<div class="baseHtml noticeContent">Hey herby9ml! Just a heads up, you will not be able to post any content with links in them until you've achieved <strong>2 posts</strong>. This is in place to help us mitigate spam messages that are being posted on our community. Sorry for the inconvenience.</div>
	
	
</li>
				
			</ol>
		</div>
	</div>
	
	
</div>




	
	
	<div class="FloatingContainer Notices" style="display: block;">
		
			<div class="DismissParent Notice notice_7 medium" data-notice="7" data-delay-duration="5000" data-display-duration="0" data-auto-dismiss="0" style="display: block; opacity: 1;">
				<div class="floatingItem dark">
					
						<a href="account/dismiss-notice?notice_id=7" class="DismissCtrl Tooltip" data-offsetx="7" data-tipclass="flipped">Dismiss Notice</a>
					
						<div class="floatingImage image">
							<img src="http://i.imgur.com/MOfpHGC.png" alt="">
						</div>
					
					<div class="hasImage baseHtml noticeContent">
						Hey herby9ml, did you know you can take steps to secure your account even further? Enable Two-Step authentication on your account to add an extra layer of security! <a href="https://landofooo.com/community/account/two-step">[Enable Two-Step Authentication]</a>
					</div>
				</div>
			</div>
		
	</div>
						
						
						
						
						

						
						
											
								<!-- h1 title, description -->
								<div class="titleBar">
									
									<h1>Create Thread: <em>s</em></h1>
									
									<p id="pageDescription" class="muted baseHtml"></p><p>Discussions about anything that does not already have it's own forum.</p><p></p>
								</div>
							
						
						
						
						
	
	<div class="sectionMain funbox">
	<div class="funboxWrapper">
	
	
		
			
					
				
				
				<script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ad_above_content -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5808314520834618" data-ad-slot="1471521488" data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
				
				
			
		
	
	
	</div>
	</div>

						
						<!-- main template -->
						


	










<form action="forums/general-discussion.30/add-thread" method="post" id="ThreadCreate" class="xenForm Preview AutoValidator" data-previewurl="forums/general-discussion.30/create-thread/preview" data-redirect="on"><div class="PreviewContainer" style="display: block;"><div class="section">
	<h3 class="subHeading">Preview</h3>
	<div class="messageText primaryContent baseHtml">asd</div>
</div></div>
	

	

	

	<fieldset>
		
	
		<dl class="ctrlUnit fullWidth surplusLabel">
			<dt><label for="ctrl_title_thread_create">Title:</label></dt>
			<dd><input type="text" name="title" class="textCtrl titleCtrl" id="ctrl_title_thread_create" maxlength="100" autofocus="true" placeholder="Thread Title..." value="" data-livetitletemplate="Create Thread: <em>%s</em>"></dd>
		</dl>

		

		<dl class="ctrlUnit fullWidth">
			<dt></dt>
			<dd>
<div>
	
		<div class="redactor_box activated"><ul class="redactor_toolbar"><li class="redactor_btn_group redactor_btn_right"><ul><li class="redactor_btn_container_switchmode"><a href="javascript:void(null);" title="Use BB Code Editor" class="redactor_btn_switchmode" unselectable="on" tabindex="-1"></a></li></ul></li><li class="redactor_btn_group redactor_btn_right"><ul><li class="redactor_btn_container_removeformat"><a href="javascript:void(null);" title="Remove Formatting" class="redactor_btn_removeformat" unselectable="on" tabindex="-1"></a></li></ul></li><li class="redactor_btn_group"><ul><li class="redactor_btn_container_bold"><a href="javascript:void(null);" title="Bold (Ctrl+B)" class="redactor_btn_bold" unselectable="on" tabindex="-1"></a></li><li class="redactor_btn_container_italic"><a href="javascript:void(null);" title="Italic (Ctrl+I)" class="redactor_btn_italic" unselectable="on" tabindex="-1"></a></li><li class="redactor_btn_container_underline"><a href="javascript:void(null);" title="Underline (Ctrl+U)" class="redactor_btn_underline" unselectable="on" tabindex="-1"></a></li></ul></li><li class="redactor_btn_group"><ul><li class="redactor_btn_container_fontcolor"><a href="javascript:void(null);" title="Text Color" class="redactor_btn_fontcolor" unselectable="on" tabindex="-1"></a></li><li class="redactor_btn_container_fontsize"><a href="javascript:void(null);" title="Font Size" class="redactor_btn_fontsize" unselectable="on" tabindex="-1"></a></li><li class="redactor_btn_container_fontfamily"><a href="javascript:void(null);" title="Font Family" class="redactor_btn_fontfamily" unselectable="on" tabindex="-1"></a></li></ul></li><li class="redactor_btn_group"><ul><li class="redactor_btn_container_createlink"><a href="javascript:void(null);" title="Link" class="redactor_btn_createlink" unselectable="on" tabindex="-1"></a></li><li class="redactor_btn_container_unlink"><a href="javascript:void(null);" title="Unlink" class="redactor_btn_unlink" unselectable="on" tabindex="-1"></a></li></ul></li><li class="redactor_btn_group"><ul><li class="redactor_btn_container_alignment"><a href="javascript:void(null);" title="Alignment" class="redactor_btn_alignment" unselectable="on" tabindex="-1"></a></li></ul></li><li class="redactor_btn_group"><ul><li class="redactor_btn_container_unorderedlist"><a href="javascript:void(null);" title="• Unordered List" class="redactor_btn_unorderedlist" unselectable="on" tabindex="-1"></a></li><li class="redactor_btn_container_orderedlist"><a href="javascript:void(null);" title="1. Ordered List" class="redactor_btn_orderedlist" unselectable="on" tabindex="-1"></a></li><li class="redactor_btn_container_outdent"><a href="javascript:void(null);" title="< Outdent" class="redactor_btn_outdent" unselectable="on" tabindex="-1"></a></li><li class="redactor_btn_container_indent"><a href="javascript:void(null);" title="> Indent" class="redactor_btn_indent" unselectable="on" tabindex="-1"></a></li></ul></li><li class="redactor_btn_group"><ul><li class="redactor_btn_container_smilies"><a href="javascript:void(null);" title="Smilies" class="redactor_btn_smilies" unselectable="on" tabindex="-1"></a></li><li class="redactor_btn_container_image"><a href="javascript:void(null);" title="Image" class="redactor_btn_image" unselectable="on" tabindex="-1"></a></li><li class="redactor_btn_container_media"><a href="javascript:void(null);" title="Media" class="redactor_btn_media" unselectable="on" tabindex="-1"></a></li><li class="redactor_btn_container_insert"><a href="javascript:void(null);" title="Insert..." class="redactor_btn_insert" unselectable="on" tabindex="-1"></a></li></ul></li><li class="redactor_btn_group"><ul><li class="redactor_btn_container_draft"><a href="javascript:void(null);" title="Drafts" class="redactor_btn_draft" unselectable="on" tabindex="-1"></a></li></ul></li><li class="redactor_btn_group"><ul><li class="redactor_btn_container_undo"><a href="javascript:void(null);" title="Undo (Ctrl+Z)" class="redactor_btn_undo" unselectable="on" tabindex="-1"></a></li><li class="redactor_btn_container_redo"><a href="javascript:void(null);" title="Redo (Ctrl+Y)" class="redactor_btn_redo" unselectable="on" tabindex="-1"></a></li></ul></li></ul><iframe style="width: 100%; height: 260px;" frameborder="0" class="redactor_textCtrl redactor_MessageEditor redactor_BbCodeWysiwygEditor redactor_"></iframe><div class="draftNotice" style="display: none;"><span>Draft deleted</span></div><div class="redactor_editor_drop"><span>Drop files here to upload</span></div><textarea name="message_html" id="ctrl_message_html" class="textCtrl MessageEditor BbCodeWysiwygEditor " style="height: 260px; display: none;" data-css-url="css.php?style=12&amp;css=editor_contents&amp;d=1459971631" data-dialog-url="index.php?editor/dialog&amp;style=12" data-auto-save-url="forums/general-discussion.30/save-draft" data-options="{&quot;autoSaveFrequency&quot;:&quot;60&quot;,&quot;bbCodes&quot;:[]}"></textarea></div>
		
	
	<input type="hidden" name="_xfRelativeResolver" value="https://landofooo.com/community/forums/general-discussion.30/create-thread">
	
	
		
	




<script>
if (typeof RELANG === 'undefined')
{
	var RELANG = {};
}

RELANG.xf = {
	image: "Image",
	link: "Link",
	link_insert: "Link",
	unlink: "Unlink",
	quote: "Quote",
	code: "Code",
	bold: "Bold (Ctrl+B)",
	italic: "Italic (Ctrl+I)",
	fontcolor: "Text Color",
	unorderedlist: "Unordered List",
	orderedlist: "Ordered List",
	outdent: "Outdent",
	indent: "Indent",
	none: "None",
	align_left:	"Align Left",
	align_center: "Align Center",
	align_right: "Align Right",
	deleted: "Strike-through",
	underline: "Underline (Ctrl+U)",
	alignment: "Alignment",
	undo: "Undo (Ctrl+Z)",
	redo: "Redo (Ctrl+Y)",
	spoiler: "Spoiler",
	insert: "Insert...",

	remove_formatting: "Remove Formatting",
	font_size: "Font Size",
	font_family: "Font Family",
	smilies: "Smilies",
	media: "Media",
	
	drafts: "Drafts",
	save_draft: "Save Draft",
	delete_draft: "Delete Draft",
	draft_saved: "Draft saved",
	draft_deleted: "Draft deleted",

	switch_mode_bb: "Use BB Code Editor",
	switch_mode_rich: "Use Rich Text Editor",
	
	reply_placeholder: "Write your reply...",
	
	drop_files_here_to_upload: "Drop files here to upload",
	uploads_are_not_available: "Uploads are not available."
};
</script>
	
</div>




</dd>
		</dl>
	</fieldset>
	
	<!-- slot: after_editor -->
	
	

	<dl class="ctrlUnit submitUnit">
		<dt class=""></dt>
		<dd>
			<input type="submit" value="Create Thread" accesskey="s" class="button primary">
			

	
		
	

	<span id="AttachmentUploader" class="buttonProxy AttachmentUploader" style="" data-placeholder="#SWFUploadPlaceHolder" data-trigger="#ctrl_uploader" data-postname="upload" data-maxfilesize="1048576" data-maxuploads="10" data-extensions="png,jpg,jpeg,gif" data-action="https://landofooo.com/community/attachments/do-upload.json?hash=33e3bfb0c8663b7ebda329f1b4cf84ed&amp;content_type=post" data-uniquekey="" data-err-110="The uploaded file is too large." data-err-120="The uploaded file is empty." data-err-130="The uploaded file does not have an allowed extension." data-err-unknown="There was a problem uploading your file.">
		
		<span id="SWFUploadPlaceHolder"></span>		
			
		<input type="button" value="Add Image" id="ctrl_uploader" class="button OverlayTrigger DisableOnSubmit" data-href="https://landofooo.com/community/attachments/upload?hash=33e3bfb0c8663b7ebda329f1b4cf84ed&amp;content_type=post&amp;content_data[node_id]=30" data-hider="#AttachmentUploader">
		<span class="HiddenInput" data-name="_xfSessionId" data-value="928f241925bc022c414620caca9079db"></span>
		<span class="HiddenInput" data-name="content_data[node_id]" data-value="30"></span>
		
	</span>

	


			<input type="button" value="Preview..." class="button PreviewButton JsOnly">
			
			<input type="button" class="button JsOnly MultiQuoteWatcher" value="Insert Quotes..." style="display: none" data-href="threads/1/multi-quote?formId=%23ThreadCreate" data-cacheoverlay="false">
		</dd>
	</dl>

	
		<dl class="ctrlUnit AttachedFilesUnit" style="display: none;">
			<dt>Attached Files:</dt>
			<dd>

	
	
	
	<div class="AttachmentEditor">
	
		
		
		<div class="NoAttachments"></div>
		
		<div class="secondaryContent AttachmentInsertAllBlock JsOnly">
			<span></span>
			<div class="AttachmentText">
				<div class="label">Insert every image as a...</div>
				<div class="controls">
					<!--<input type="button" value="Delete All" class="button _smallButton AttachmentDeleteAll" />-->
					<input type="button" value="Thumbnail" class="button smallButton AttachmentInsertAll" name="thumb">
					<input type="button" value="Full Image" class="button smallButton AttachmentInsertAll" name="image">
				</div>
			</div>
		</div>
	
		<ol class="AttachmentList New">
			

<li id="AttachedFileTemplate" class="AttachedFile  secondaryContent">

	<div class="Thumbnail">
		
			<span class="genericAttachment"></span>
		
	</div>

	<div class="AttachmentText">
		<div class="Filename"><a href="attachments/" target="_blank"></a></div>
	
		
			<input type="button" value="Cancel" class="button smallButton AttachmentCanceller">
			
			<span class="ProgressMeter"><span class="ProgressGraphic">&nbsp;</span><span class="ProgressCounter">0%</span></span>
		

	</div>
	
</li>
			
		</ol>
	
		
		
		<input type="hidden" name="attachment_hash" value="33e3bfb0c8663b7ebda329f1b4cf84ed">
		
		
		
	</div>
	
</dd>
		</dl>
		
		<!-- slot: after_attachment -->
	
	
	
		<fieldset>
			<dl class="ctrlUnit">
				<dt>Options:</dt>
				<dd><ul>
					<li><label for="ctrl_watch_thread"><input type="checkbox" name="watch_thread" value="1" id="ctrl_watch_thread" class="Disabler"> Watch this thread...</label>
	<ul id="ctrl_watch_thread_Disabler" class="disabled">
		<li><label for="ctrl_watch_thread_email"><input type="checkbox" name="watch_thread_email" value="1" id="ctrl_watch_thread_email" disabled="" class="disabled"> and receive email notifications</label></li>
	</ul>
	<input type="hidden" name="watch_thread_state" value="1"></li>
				</ul></dd>
			</dl>
	
			
		</fieldset>
		
		<!-- slot: after_options -->
	

	
	
	
		<h3 class="textHeading">Post a Poll</h3>
		

<dl class="ctrlUnit">
	<dt><label for="ctrl_poll_question">Question:</label></dt>
	<dd><input type="text" name="poll[question]" class="textCtrl" id="ctrl_poll_question" maxlength="100" value=""></dd>
</dl>
<dl class="ctrlUnit">
	<dt>Possible Responses:</dt>
	<dd>
		<ul class="PollResponseContainer">
			
			
				
			
				
			
				
			
				
			
				
			
				
			
				
			
				
			
			
				<li><input type="text" name="poll[responses][]" class="textCtrl" placeholder="Poll choice..." maxlength="100"></li>
				<li><input type="text" name="poll[responses][]" class="textCtrl" placeholder="Poll choice..." maxlength="100"></li><li class="" style="opacity: 1;"><input type="text" name="poll[responses][]" class="textCtrl" placeholder="Poll choice..." maxlength="100"></li><li class="" style="opacity: 1;"><input type="text" name="poll[responses][]" class="textCtrl" placeholder="Poll choice..." maxlength="100"></li><li class="" style="opacity: 1;"><input type="text" name="poll[responses][]" class="textCtrl" placeholder="Poll choice..." maxlength="100"></li><li class="" style="opacity: 1;"><input type="text" name="poll[responses][]" class="textCtrl" placeholder="Poll choice..." maxlength="100"></li><li class="" style="opacity: 1;"><input type="text" name="poll[responses][]" class="textCtrl" placeholder="Poll choice..." maxlength="100"></li><li class="" style="opacity: 1;"><input type="text" name="poll[responses][]" class="textCtrl" placeholder="Poll choice..." maxlength="100"></li>
			
		</ul>
		<input type="button" value="Add Additional Response" class="button smallButton FieldAdder JsOnly" data-source="ul.PollResponseContainer li" data-maxfields="10">
	</dd>
</dl>

<!-- slot: after_poll_responses -->
<dl class="ctrlUnit">
	<dt>Maximum Selectable Responses:</dt>
	<dd>
		<ul>
			<li><label><input type="radio" name="poll[max_votes_type]" value="single" checked="checked"> Single Choice</label></li>
			<li><label><input type="radio" name="poll[max_votes_type]" value="unlimited"> Unlimited</label></li>
			<li><input type="radio" name="poll[max_votes_type]" value="number" class="Disabler" id="ctrl_max_votes_type_value"> 
				<span id="ctrl_max_votes_type_value_Disabler" class="disabled">
					<input type="text" class="textCtrl number SpinBox disabled" name="poll[max_votes_value]" value="2" min="1" step="1" autocomplete="off" disabled=""><input type="button" class="button spinBoxButton up disabled" value="+" data-plusminus="+" tabindex="-1" disabled=""><input type="button" class="button spinBoxButton down disabled" value="-" data-plusminus="-" tabindex="-1" disabled="">
				</span>
			</li>
		</ul>
		<p class="explain">This is the maximum number of responses a voter may select when voting.</p>
	</dd>
</dl>

<dl class="ctrlUnit">
	<dt>Options:</dt>
	<dd>
		<ul>
			<li><label><input type="checkbox" name="poll[change_vote]" value="1" checked="checked"> Allow voters to change their votes</label></li>

			<li><label><input type="checkbox" name="poll[public_votes]" value="1"> Display votes publicly</label></li>

			<li><label><input type="checkbox" name="poll[view_results_unvoted]" value="1" checked="checked"> Allow the results to be viewed without voting</label></li>

			<li><label><input type="checkbox" name="poll[close]" value="1" class="Disabler" id="ctrl_poll_close"> Close this poll after:</label>
				<ul id="ctrl_poll_close_Disabler" class="">
					<li>
						<input type="text" size="5" name="poll[close_length]" value="7" class="textCtrl autoSize">
						<select name="poll[close_units]" class="textCtrl autoSize">
							<option value="hours">Hours</option>
							<option value="days" selected="selected">Days</option>
							<option value="weeks">Weeks</option>
							<option value="months">Months</option>
						</select>
					</li>
				</ul>
			</li>
		</ul>
	</dd>
</dl>
	
	
	

	
		<dl class="ctrlUnit submitUnit">
			<dt class=""></dt>
			<dd>
				<input type="submit" value="Create Thread" class="button primary">
				<input type="button" value="Preview..." class="button PreviewButton JsOnly">
			</dd>
		</dl>
	

	<input type="hidden" name="_xfToken" value="6987,1463288479,ef9ede6b4ad86a852864abd6d510dd1edd7b792c">
</form>


						
						
	
	<div class="sectionMain funbox">
	<div class="funboxWrapper">
	
	
		
			
				
				
				
				
				
				<script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ad_below_content -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5808314520834618" data-ad-slot="2948254682" data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
				
				
			
		
	
	
	</div>
	</div>
	

						
						
						
			
				</div>
			
			
			
			<div class="breadBoxBottom">

<nav>

	
	
	

	<fieldset class="breadcrumb" style="">
		<a href="misc/quick-navigation-menu?selected=node-30" class="OverlayTrigger jumpMenuTrigger" data-cacheoverlay="true" title="Open quick navigation"><i class="uix_icon uix_icon-sitemap"></i><!--Jump to...--></a>
			
		<div class="boardTitle"><strong>The LandOfOoo</strong></div>
		
		<span class="crumbs">
			
				<span class="crust homeCrumb">
					<a href="https://landofooo.com/community" class="crumb"><span><i class="uix_icon uix_icon-home" title="Home"></i></span></a>
					<span class="arrow"><span></span></span>
				</span>
			
			
			
				<span class="crust selectedTabCrumb">
					<a href="https://landofooo.com/community/" class="crumb"><span>Forums</span></a>
					<span class="arrow"><span>&gt;</span></span>
				</span>
			
			
			
				
					<span class="crust">
						<a href="https://landofooo.com/community/.#the-cloud-kingdom.27" class="crumb"><span>The Cloud Kingdom</span></a>
						<span class="arrow"><span>&gt;</span></span>
					</span>
				
					<span class="crust">
						<a href="https://landofooo.com/community/forums/general-discussion.30/" class="crumb"><span>General Discussion</span></a>
						<span class="arrow"><span>&gt;</span></span>
					</span>
				
			
		</span>
	</fieldset>
</nav></div>
			
						
			
						
			</div>
	
		</div>
	</div>