<div class="pageContent noBorderRadius"> 
	
			<!-- main content area -->
			
			
			
			

			
			
			<div class="breadBoxTop  ">
				
				

<nav>

	
	
	

	<fieldset class="breadcrumb" style="">
		<a href="misc/quick-navigation-menu?selected=node-60" class="OverlayTrigger jumpMenuTrigger" data-cacheoverlay="true" title="Open quick navigation"><i class="uix_icon uix_icon-sitemap"></i><!--Jump to...--></a>
			
		<div class="boardTitle"><strong>The LandOfOoo</strong></div>
		
		<span class="crumbs">
			
				<span class="crust homeCrumb" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
					<a href="https://landofooo.com/community" class="crumb" rel="up" itemprop="url"><span itemprop="title"><i class="uix_icon uix_icon-home" title="Home"></i></span></a>
					<span class="arrow"><span></span></span>
				</span>
			
			
			
				<span class="crust selectedTabCrumb" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
					<a href="https://landofooo.com/community/" class="crumb" rel="up" itemprop="url"><span itemprop="title">Forums</span></a>
					<span class="arrow"><span>&gt;</span></span>
				</span>
			
			
			
				
					<span class="crust" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
						<a href="https://landofooo.com/community/.#adventure-time.57" class="crumb" rel="up" itemprop="url"><span itemprop="title">Adventure Time</span></a>
						<span class="arrow"><span>&gt;</span></span>
					</span>
				
			
		</span>
	</fieldset>
</nav>
				
			</div>
			
			
						
			
			
			
			
			
			
			

	
	
	
	
	
	
	
	


	
			
			
				<div class="mainContainer_noSidebar">
			
					
						<!--[if lt IE 8]>
							<p class="importantMessage">You are using an out of date browser. It  may not display this or other websites correctly.<br />You should upgrade or use an <a href="https://www.google.com/chrome/browser/" target="_blank">alternative browser</a>.</p>
						<![endif]-->
						
						
						
						





<div class="PanelScroller Notices" data-vertical="0" data-speed="400" data-interval="4000" style="display: block;">
	<div class="scrollContainer">
		<div class="PanelContainer">
			<ol class="Panels" style="position: static;">
				
					<li class="panel Notice DismissParent notice_4 " data-notice="4">
	
	<div class="baseHtml noticeContent">Logging in for the first time since we switched over to XenForo? You'll need to manually reset your password before you can login. Sorry for the inconvenience.</div>
	
	
		<a href="account/dismiss-notice?notice_id=4" class="DismissCtrl Tooltip" data-offsetx="7" data-tipclass="flipped">Dismiss Notice</a>
</li>
				
			</ol>
		</div>
	</div>
	
	
</div>



						
						
						
						
						

						
						
											
								<!-- h1 title, description -->
								<div class="titleBar">
									
									<h1>Episode Discussion</h1>
									
									<p id="pageDescription" class="muted baseHtml"></p><p>Episode discussion for upcoming and previous episodes.</p><p></p>
								</div>
							
						
						
						
						
	
	<div class="sectionMain funbox">
	<div class="funboxWrapper">
	
	
		
			
					
				
				
				<script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ad_above_content -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5808314520834618" data-ad-slot="1471521488" data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
				
				
			
		
	
	
	</div>
	</div>

						
						<!-- main template -->
						



	



















	
	


	<ol class="nodeList section uix_nodeStyle_3 audentio_grid_running" id="forums" style="visibility: visible;">
	
		


<li class="node forum level_2  node_67 audentio_grid audentio_grid_active audentio_grid_left audentio_grid_column_1 audentio_grid_columnMax_1 audentio_grid_rowSublayout_1 audentio_grid_row_1 audentio_grid_subLayout_1 audentio_grid_numSubLayouts_1 audentio_grid_nodeSublayout_1 audentio_grid_node_1 audentio_grid_row_odd audentio_grid_lg audentio_grid_xl below-lg below-xl above-xs above-sm above-md node--md " style="width: 50%;">
	

	<div class="nodeInfo forumNodeInfo unread ">
	
		


	



	






	






	






	




	<span class="nodeIcon hasGlyph" title="Unread messages"><i class="fa fa-calendar"></i></span>


		<div class="nodeText">
			<h3 class="nodeTitle"><a href="forums/season-7-2015.67/" data-description="#nodeDescription-67">Season 7 (2015)</a>
				
			</h3>

			
				
			

			<div class="nodeStats pairsInline">
				<dl><dt><i class="uix_icon uix_icon-statsDiscussions"></i></dt> <dd>38</dd></dl>
				<dl><dt><i class="uix_icon uix_icon-statsMessages"></i></dt> <dd>4,099</dd></dl>
				
			</div>
			
			
		</div>

		
		
		

		<div class="nodeLastPost secondaryContent">
			
				
					<a href="members/burritodetodo.6539/" class="avatar Av6539s" data-avatarhtml="true"><img src="data/avatars/s/6/6539.jpg?1458569735" width="48" height="48" alt="burritodetodo"></a>
				
				<span class="lastThreadTitle"><span>Latest:</span> <a href="posts/274165/" title="S07E32: Bun Bun">S07E32: Bun Bun</a></span>
				<span class="lastThreadMeta">
					<span class="lastThreadUser"><a href="members/burritodetodo.6539/" class="username" dir="auto">burritodetodo</a>,</span>
					
						<a href="posts/274165/" title="S07E32: Bun Bun"><abbr class="DateTime muted lastThreadDate" data-latest="Latest: " data-time="1462643955" data-diff="1956" data-datestring="May 7, 2016" data-timestring="1:59 PM" title="May 7, 2016 at 1:59 PM">Yesterday at 1:59 PM</abbr></a>
					
				</span>
			
		</div>

		<div class="nodeControls">
			<a href="forums/season-7-2015.67/index.rss" class="tinyIcon feedIcon" title="RSS">RSS</a>
		</div>
		
	</div>

	

</li>


<li class="node forum level_2  node_66 audentio_grid audentio_grid_active audentio_grid_right audentio_grid_column_2 audentio_grid_columnMax_1 audentio_grid_rowSublayout_1 audentio_grid_row_1 audentio_grid_subLayout_1 audentio_grid_numSubLayouts_1 audentio_grid_nodeSublayout_2 audentio_grid_node_2 audentio_grid_row_odd audentio_grid_lg audentio_grid_xl below-lg below-xl above-xs above-sm above-md node--md " style="width: 50%;">
	

	<div class="nodeInfo forumNodeInfo unread ">
	
		


	



	






	






	






	




	<span class="nodeIcon hasGlyph" title="Unread messages"><i class="fa fa-calendar"></i></span>


		<div class="nodeText">
			<h3 class="nodeTitle"><a href="forums/season-6-2014-2015.66/" data-description="#nodeDescription-66">Season 6 (2014-2015)</a>
				
			</h3>

			
				
			

			<div class="nodeStats pairsInline">
				<dl><dt><i class="uix_icon uix_icon-statsDiscussions"></i></dt> <dd>43</dd></dl>
				<dl><dt><i class="uix_icon uix_icon-statsMessages"></i></dt> <dd>9,044</dd></dl>
				
			</div>
			
			
		</div>

		
		
		

		<div class="nodeLastPost secondaryContent">
			
				
					<a href="members/gunterfan.2727/" class="avatar Av2727s" data-avatarhtml="true"><img src="data/avatars/s/2/2727.jpg?1453420072" width="48" height="48" alt="GunterFan"></a>
				
				<span class="lastThreadTitle"><span>Latest:</span> <a href="posts/271539/" title="S06E38: You Forgot Your Floaties">S06E38: You Forgot Your Floaties</a></span>
				<span class="lastThreadMeta">
					<span class="lastThreadUser"><a href="members/gunterfan.2727/" class="username" dir="auto">GunterFan</a>,</span>
					
						<a href="posts/271539/" title="S06E38: You Forgot Your Floaties"><span class="DateTime muted lastThreadDate" data-latest="Latest: " title="Mar 11, 2016 at 12:46 AM">Mar 11, 2016</span></a>
					
				</span>
			
		</div>

		<div class="nodeControls">
			<a href="forums/season-6-2014-2015.66/index.rss" class="tinyIcon feedIcon" title="RSS">RSS</a>
		</div>
		
	</div>

	

</li>


<li class="node forum level_2  node_63 audentio_grid audentio_grid_active audentio_grid_left audentio_grid_column_1 audentio_grid_columnMax_1 audentio_grid_rowSublayout_2 audentio_grid_row_2 audentio_grid_subLayout_1 audentio_grid_numSubLayouts_1 audentio_grid_nodeSublayout_3 audentio_grid_node_3 audentio_grid_row_even audentio_grid_lg audentio_grid_xl below-lg below-xl above-xs above-sm above-md node--md " style="width: 50%;">
	

	<div class="nodeInfo forumNodeInfo unread ">
	
		


	



	






	






	






	




	<span class="nodeIcon hasGlyph" title="Unread messages"><i class="fa fa-calendar"></i></span>


		<div class="nodeText">
			<h3 class="nodeTitle"><a href="forums/season-5-2012-2014.63/" data-description="#nodeDescription-63">Season 5 (2012-2014)</a>
				
			</h3>

			
				
			

			<div class="nodeStats pairsInline">
				<dl><dt><i class="uix_icon uix_icon-statsDiscussions"></i></dt> <dd>50</dd></dl>
				<dl><dt><i class="uix_icon uix_icon-statsMessages"></i></dt> <dd>36,495</dd></dl>
				
			</div>
			
			
		</div>

		
		
		

		<div class="nodeLastPost secondaryContent">
			
				
					<a href="members/cernunnos.6923/" class="avatar Av6923s" data-avatarhtml="true"><img src="data/avatars/s/6/6923.jpg?1461703719" width="48" height="48" alt="Cernunnos"></a>
				
				<span class="lastThreadTitle"><span>Latest:</span> <a href="posts/273699/" title="S5E19: James Baxter the Horse">S5E19: James Baxter the Horse</a></span>
				<span class="lastThreadMeta">
					<span class="lastThreadUser"><a href="members/cernunnos.6923/" class="username" dir="auto">Cernunnos</a>,</span>
					
						<a href="posts/273699/" title="S5E19: James Baxter the Horse"><span class="DateTime muted lastThreadDate" data-latest="Latest: " title="Apr 30, 2016 at 7:21 AM">Apr 30, 2016</span></a>
					
				</span>
			
		</div>

		<div class="nodeControls">
			<a href="forums/season-5-2012-2014.63/index.rss" class="tinyIcon feedIcon" title="RSS">RSS</a>
		</div>
		
	</div>

	

</li>


<li class="node forum level_2  node_61 audentio_grid audentio_grid_active audentio_grid_right audentio_grid_column_2 audentio_grid_columnMax_1 audentio_grid_rowSublayout_2 audentio_grid_row_2 audentio_grid_subLayout_1 audentio_grid_numSubLayouts_1 audentio_grid_nodeSublayout_4 audentio_grid_node_4 audentio_grid_row_even audentio_grid_lg audentio_grid_xl below-lg below-xl above-xs above-sm above-md node--md " style="width: 50%;">
	

	<div class="nodeInfo forumNodeInfo unread ">
	
		


	



	






	






	






	




	<span class="nodeIcon hasGlyph" title="Unread messages"><i class="fa fa-calendar"></i></span>


		<div class="nodeText">
			<h3 class="nodeTitle"><a href="forums/season-4-2012.61/" data-description="#nodeDescription-61">Season 4 (2012)</a>
				
			</h3>

			
				
			

			<div class="nodeStats pairsInline">
				<dl><dt><i class="uix_icon uix_icon-statsDiscussions"></i></dt> <dd>25</dd></dl>
				<dl><dt><i class="uix_icon uix_icon-statsMessages"></i></dt> <dd>2,212</dd></dl>
				
			</div>
			
			
		</div>

		
		
		

		<div class="nodeLastPost secondaryContent">
			
				
					<a href="members/burritodetodo.6539/" class="avatar Av6539s" data-avatarhtml="true"><img src="data/avatars/s/6/6539.jpg?1458569735" width="48" height="48" alt="burritodetodo"></a>
				
				<span class="lastThreadTitle"><span>Latest:</span> <a href="posts/265070/" title="S4E25: I Remember You">S4E25: I Remember You</a></span>
				<span class="lastThreadMeta">
					<span class="lastThreadUser"><a href="members/burritodetodo.6539/" class="username" dir="auto">burritodetodo</a>,</span>
					
						<a href="posts/265070/" title="S4E25: I Remember You"><span class="DateTime muted lastThreadDate" data-latest="Latest: " title="Sep 29, 2015 at 8:24 PM">Sep 29, 2015</span></a>
					
				</span>
			
		</div>

		<div class="nodeControls">
			<a href="forums/season-4-2012.61/index.rss" class="tinyIcon feedIcon" title="RSS">RSS</a>
		</div>
		
	</div>

	

</li>


<li class="node forum level_2  node_62 audentio_grid audentio_grid_active audentio_grid_left audentio_grid_column_1 audentio_grid_columnMax_1 audentio_grid_rowSublayout_3 audentio_grid_row_3 audentio_grid_subLayout_1 audentio_grid_numSubLayouts_1 audentio_grid_nodeSublayout_5 audentio_grid_node_5 audentio_grid_row_odd audentio_grid_lg audentio_grid_xl below-lg below-xl above-xs above-sm above-md node--md " style="width: 50%;">
	

	<div class="nodeInfo forumNodeInfo unread ">
	
		


	



	






	






	






	




	<span class="nodeIcon hasGlyph" title="Unread messages"><i class="fa fa-calendar"></i></span>


		<div class="nodeText">
			<h3 class="nodeTitle"><a href="forums/season-3-2011-2012.62/" data-description="#nodeDescription-62">Season 3 (2011-2012)</a>
				
			</h3>

			
				
			

			<div class="nodeStats pairsInline">
				<dl><dt><i class="uix_icon uix_icon-statsDiscussions"></i></dt> <dd>25</dd></dl>
				<dl><dt><i class="uix_icon uix_icon-statsMessages"></i></dt> <dd>1,517</dd></dl>
				
			</div>
			
			
		</div>

		
		
		

		<div class="nodeLastPost secondaryContent">
			
				
					<a href="members/gunterfan.2727/" class="avatar Av2727s" data-avatarhtml="true"><img src="data/avatars/s/2/2727.jpg?1453420072" width="48" height="48" alt="GunterFan"></a>
				
				<span class="lastThreadTitle"><span>Latest:</span> <a href="posts/270194/" title="S3E21: Marceline's Closet">S3E21: Marceline's Closet</a></span>
				<span class="lastThreadMeta">
					<span class="lastThreadUser"><a href="members/gunterfan.2727/" class="username" dir="auto">GunterFan</a>,</span>
					
						<a href="posts/270194/" title="S3E21: Marceline's Closet"><span class="DateTime muted lastThreadDate" data-latest="Latest: " title="Jan 23, 2016 at 11:10 PM">Jan 23, 2016</span></a>
					
				</span>
			
		</div>

		<div class="nodeControls">
			<a href="forums/season-3-2011-2012.62/index.rss" class="tinyIcon feedIcon" title="RSS">RSS</a>
		</div>
		
	</div>

	

</li>


<li class="node forum level_2  node_65 audentio_grid audentio_grid_active audentio_grid_right audentio_grid_column_2 audentio_grid_columnMax_1 audentio_grid_rowSublayout_3 audentio_grid_row_3 audentio_grid_subLayout_1 audentio_grid_numSubLayouts_1 audentio_grid_nodeSublayout_6 audentio_grid_node_6 audentio_grid_row_odd audentio_grid_lg audentio_grid_xl below-lg below-xl above-xs above-sm above-md node--md " style="width: 50%;">
	

	<div class="nodeInfo forumNodeInfo unread ">
	
		


	



	






	






	






	




	<span class="nodeIcon hasGlyph" title="Unread messages"><i class="fa fa-calendar"></i></span>


		<div class="nodeText">
			<h3 class="nodeTitle"><a href="forums/season-2-2010-2011.65/" data-description="#nodeDescription-65">Season 2 (2010-2011)</a>
				
			</h3>

			
				
			

			<div class="nodeStats pairsInline">
				<dl><dt><i class="uix_icon uix_icon-statsDiscussions"></i></dt> <dd>25</dd></dl>
				<dl><dt><i class="uix_icon uix_icon-statsMessages"></i></dt> <dd>1,509</dd></dl>
				
			</div>
			
			
		</div>

		
		
		

		<div class="nodeLastPost secondaryContent">
			
				
					<a href="members/a-blob.6230/" class="avatar Av6230s" data-avatarhtml="true"><img src="data/avatars/s/6/6230.jpg?1462246104" width="48" height="48" alt="A Blob"></a>
				
				<span class="lastThreadTitle"><span>Latest:</span> <a href="posts/29606/" title="S2E1: It Came from the Nightosphere">S2E1: It Came from the Nightosphere</a></span>
				<span class="lastThreadMeta">
					<span class="lastThreadUser"><a href="members/a-blob.6230/" class="username" dir="auto">A Blob</a>,</span>
					
						<a href="posts/29606/" title="S2E1: It Came from the Nightosphere"><span class="DateTime muted lastThreadDate" data-latest="Latest: " title="Mar 15, 2015 at 10:54 PM">Mar 15, 2015</span></a>
					
				</span>
			
		</div>

		<div class="nodeControls">
			<a href="forums/season-2-2010-2011.65/index.rss" class="tinyIcon feedIcon" title="RSS">RSS</a>
		</div>
		
	</div>

	

</li>


<li class="node forum level_2  node_64 audentio_grid audentio_grid_active audentio_grid_left audentio_grid_right audentio_grid_column_1 audentio_grid_columnMax_1 audentio_grid_rowSublayout_4 audentio_grid_row_4 audentio_grid_subLayout_1 audentio_grid_numSubLayouts_1 audentio_grid_nodeSublayout_7 audentio_grid_node_7 audentio_grid_row_even audentio_grid_xl below-xl above-xs above-sm above-md above-lg node--lg ">
	

	<div class="nodeInfo forumNodeInfo unread ">
	
		


	



	






	






	






	




	<span class="nodeIcon hasGlyph" title="Unread messages"><i class="fa fa-calendar"></i></span>


		<div class="nodeText">
			<h3 class="nodeTitle"><a href="forums/season-1-2010.64/" data-description="#nodeDescription-64">Season 1 (2010)</a>
				
			</h3>

			
				
			

			<div class="nodeStats pairsInline">
				<dl><dt><i class="uix_icon uix_icon-statsDiscussions"></i></dt> <dd>26</dd></dl>
				<dl><dt><i class="uix_icon uix_icon-statsMessages"></i></dt> <dd>642</dd></dl>
				
			</div>
			
			
		</div>

		
		
		

		<div class="nodeLastPost secondaryContent">
			
				
					<a href="members/robuk1981.6382/" class="avatar Av6382s" data-avatarhtml="true"><img src="styles/uix/xenforo/avatars/avatar_s.png" width="48" height="48" alt="Robuk1981"></a>
				
				<span class="lastThreadTitle"><span>Latest:</span> <a href="posts/30125/" title="E8: Business Time">E8: Business Time</a></span>
				<span class="lastThreadMeta">
					<span class="lastThreadUser"><a href="members/robuk1981.6382/" class="username" dir="auto">Robuk1981</a>,</span>
					
						<a href="posts/30125/" title="E8: Business Time"><span class="DateTime muted lastThreadDate" data-latest="Latest: " title="Apr 17, 2015 at 5:30 AM">Apr 17, 2015</span></a>
					
				</span>
			
		</div>

		<div class="nodeControls">
			<a href="forums/season-1-2010.64/index.rss" class="tinyIcon feedIcon" title="RSS">RSS</a>
		</div>
		
	</div>

	

</li>
	
	</ol>





















	






<div class="pageNavLinkGroup">

	<div class="linkGroup SelectionCountContainer">
		
	</div>

	

</div>



<div class="discussionList section sectionMain">
	



<form action="inline-mod/thread/switch" method="post" class="DiscussionList InlineModForm" data-cookiename="threads" data-controls="#InlineModControls" data-imodoptions="#ModerationSelect option">
	
	

	<dl class="sectionHeaders">
		<dt class="posterAvatar"><a><span>Sort By:</span></a></dt>
		<dd class="main">
			<a href="forums/episode-discussion.60/?order=title" class="title"><span>Title</span></a>
			<a href="forums/episode-discussion.60/?order=post_date" class="postDate"><span>Start Date</span></a>
		</dd>
		<dd class="stats">
			<a href="forums/episode-discussion.60/?order=reply_count" class="major"><span>Replies</span></a>
			<a href="forums/episode-discussion.60/?order=view_count" class="minor"><span>Views</span></a>
		</dd>
		<dd class="lastPost"><a href="forums/episode-discussion.60/?direction=asc"><span>Last Message ↓</span></a></dd>
	</dl>

	<ol class="discussionListItems">
	
		
		
		
		
			<div class="uix_stickyThreadWrapper node ">
				
					<li class="threadListSeparator sticky">
						
						Sticky Threads
					</li>
				
			
				
				<div class="uix_stickyThreads" style="display: block;">
					
					
						



<li id="thread-2364" class="discussionListItem visible sticky  " data-author="Mordecai626">

	<div class="listBlock posterAvatar">
		<span class="avatarContainer">
			<a href="members/mordecai626.1566/" class="avatar Av1566s" data-avatarhtml="true"><img src="data/avatars/s/1/1566.jpg?1441218033" width="48" height="48" alt="Mordecai626"></a>
			
		</span>
	</div>

	<div class="listBlock main">

		<div class="titleText">
			
				<div class="iconKey">
				
					
					
					
					<span class="sticky" title="Sticky">Sticky</span>
					
					
					


				
				</div>
			

			<h3 class="title">
				
				
				
				<a href="threads/miss-an-episode-get-the-link-for-it-here.2364/" title="" class="PreviewTooltip" data-previewurl="threads/miss-an-episode-get-the-link-for-it-here.2364/preview">Miss an episode? Get the link for it here!</a>
				
			</h3>
			
			<div class="secondRow">
				<div class="posterDate muted">
					<a href="members/mordecai626.1566/" class="username" dir="auto" title="Thread starter">Mordecai626</a><span class="startDate">,
					<a class="faint">
						
							<span class="DateTime" title="">May 16, 2013</span>
						
					</a></span>

					
						<span class="itemPageNav">
							<span>...</span>
							
								<a href="threads/miss-an-episode-get-the-link-for-it-here.2364/page-10">10</a>
							
								<a href="threads/miss-an-episode-get-the-link-for-it-here.2364/page-11">11</a>
							
								<a href="threads/miss-an-episode-get-the-link-for-it-here.2364/page-12">12</a>
							
						</span>
					
				</div>

				<div class="controls faint">
					
					
				</div>
			</div>
		</div>
	</div>

	<div class="listBlock stats pairsJustified" title="Members who liked the first message: 0">
		<dl class="major"><dt>Replies:</dt> <dd>228</dd></dl>
		<dl class="minor"><dt>Views:</dt> <dd>31,204</dd></dl>
	</div>

	<div class="listBlock lastPost">
		
			<dl class="lastPostInfo">
				
					<a href="members/mordecai626.1566/" class="avatar Av1566s" data-avatarhtml="true"><img src="data/avatars/s/1/1566.jpg?1441218033" width="48" height="48" alt="Mordecai626"></a>
				
				<dt><a href="members/mordecai626.1566/" class="username" dir="auto">Mordecai626</a></dt>
				<dd class="muted"><a class="dateTime">
				
					<span class="DateTime" title="Jun 1, 2015 at 10:56 PM">Jun 1, 2015</span>
				
				</a></dd>
			</dl>
		
	</div>
</li>


					
					
				</div>
			</div>
		
		
		
	
	<div class="funbox">
	<div class="funboxWrapper">
	
	
		
			
				
				
				
				
				
				<script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ad_thread_list_below_stickies -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5808314520834618" data-ad-slot="5901721081" data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
				
				
			
		
	
	
	</div>
	</div>
	

		
		
		<li class="threadListSeparator">Normal Threads</li>
		
		
		
		
			



<li id="thread-6156" class="discussionListItem visible  " data-author="HellQueen">

	<div class="listBlock posterAvatar">
		<span class="avatarContainer">
			<a href="members/hellqueen.4733/" class="avatar Av4733s" data-avatarhtml="true"><img src="data/avatars/s/4/4733.jpg?1459569254" width="48" height="48" alt="HellQueen"></a>
			
		</span>
	</div>

	<div class="listBlock main">

		<div class="titleText">
			

			<h3 class="title">
				
				
				
				<a href="threads/the-which-at-episode-is-next-thread.6156/" title="" class="PreviewTooltip" data-previewurl="threads/the-which-at-episode-is-next-thread.6156/preview">The Which AT episode is next Thread</a>
				
			</h3>
			
			<div class="secondRow">
				<div class="posterDate muted">
					<a href="members/hellqueen.4733/" class="username" dir="auto" title="Thread starter">HellQueen</a><span class="startDate">,
					<a class="faint">
						
							<span class="DateTime" title="">Dec 4, 2015</span>
						
					</a></span>

					
				</div>

				<div class="controls faint">
					
					
				</div>
			</div>
		</div>
	</div>

	<div class="listBlock stats pairsJustified" title="Members who liked the first message: 0">
		<dl class="major"><dt>Replies:</dt> <dd>1</dd></dl>
		<dl class="minor"><dt>Views:</dt> <dd>140</dd></dl>
	</div>

	<div class="listBlock lastPost">
		
			<dl class="lastPostInfo">
				
					<a href="members/mordecai626.1566/" class="avatar Av1566s" data-avatarhtml="true"><img src="data/avatars/s/1/1566.jpg?1441218033" width="48" height="48" alt="Mordecai626"></a>
				
				<dt><a href="members/mordecai626.1566/" class="username" dir="auto">Mordecai626</a></dt>
				<dd class="muted"><a class="dateTime">
				
					<span class="DateTime" title="Dec 5, 2015 at 9:07 PM">Dec 5, 2015</span>
				
				</a></dd>
			</dl>
		
	</div>
</li>


		
		
		
		
	
	
	</ol>

	
		<div class="sectionFooter InlineMod SelectionCountContainer">
			<span class="contentSummary">Showing threads 1 to 1 of 1</span>

			
		</div>
	

	<input type="hidden" name="_xfToken" value="">
</form>

<h3 id="DiscussionListOptionsHandle" class="JsOnly"><a href="#">Thread Display Options</a></h3>

<form action="forums/episode-discussion.60/" method="post" class="DiscussionListOptions secondaryContent" style="display: block; opacity: 1;">

	
	<div class="controlGroup">
		<label for="ctrl_order">Sort threads by:</label>
		<select name="order" id="ctrl_order" class="textCtrl">
			<option value="last_post_date" selected="selected">Last message time</option>
			<option value="post_date">Thread creation time</option>
			<option value="title">Title (alphabetical)</option>
			<option value="reply_count">Number of replies</option>
			<option value="view_count">Number of views</option>
			<option value="first_post_likes">First message likes</option>
		</select>
	</div>

	<div class="controlGroup">
		<label for="ctrl_direction">Order threads in:</label>
		<select name="direction" id="ctrl_direction" class="textCtrl">
			<option value="desc" selected="selected">Descending order</option>
			<option value="asc">Ascending order</option>
		</select>
	</div>
	
	
		<div class="controlGroup">
			<label for="ctrl_prefix_id">Prefix:</label>
			<select name="prefix_id" id="ctrl_prefix_id" class="textCtrl">
				<option value="0" selected="selected">(Any)</option>
				
					
						<optgroup label="Adventure Time Threads">
						
							<option value="1">THEORY</option>
						
						</optgroup>
					
				
			</select>
		</div>
	

	<div class="buttonGroup">
		<input type="submit" class="button primary" value="Set Options">
		<input type="reset" class="button" value="Cancel">
	</div>
	

	<input type="hidden" name="_xfToken" value="">
</form>

<div id="PreviewTooltip">
	<span class="arrow"><span></span></span>
	
	<div class="section">
		<div class="primaryContent previewContent">
			<span class="PreviewContents">Loading...</span>
		</div>
	</div>
</div>
</div>
	
<div class="pageNavLinkGroup afterDiscussionListHandle">
	<div class="linkGroup">
		
			
				<a href="login/" class="concealed element OverlayTrigger">(You must log in or sign up to post here.)</a>
			
		
	</div>
	<div class="linkGroup" style="display: none"><a href="javascript:" class="muted JsOnly DisplayIgnoredContent Tooltip">Show Ignored Content</a></div>
	
	
</div>
						
						
	
	<div class="sectionMain funbox">
	<div class="funboxWrapper">
	
	
		
			
				
				
				
				
				
				<script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ad_below_content -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5808314520834618" data-ad-slot="2948254682" data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
				
				
			
		
	
	
	</div>
	</div>
	

						
						
							<!-- login form, to be moved to the upper drop-down -->
							








						
						
			
				</div>
			
			
			
			<div class="breadBoxBottom">

<nav>

	
	
	

	<fieldset class="breadcrumb" style="">
		<a href="misc/quick-navigation-menu?selected=node-60" class="OverlayTrigger jumpMenuTrigger" data-cacheoverlay="true" title="Open quick navigation"><i class="uix_icon uix_icon-sitemap"></i><!--Jump to...--></a>
			
		<div class="boardTitle"><strong>The LandOfOoo</strong></div>
		
		<span class="crumbs">
			
				<span class="crust homeCrumb">
					<a href="https://landofooo.com/community" class="crumb"><span><i class="uix_icon uix_icon-home" title="Home"></i></span></a>
					<span class="arrow"><span></span></span>
				</span>
			
			
			
				<span class="crust selectedTabCrumb">
					<a href="https://landofooo.com/community/" class="crumb"><span>Forums</span></a>
					<span class="arrow"><span>&gt;</span></span>
				</span>
			
			
			
				
					<span class="crust">
						<a href="https://landofooo.com/community/.#adventure-time.57" class="crumb"><span>Adventure Time</span></a>
						<span class="arrow"><span>&gt;</span></span>
					</span>
				
			
		</span>
	</fieldset>
</nav></div>
			
						
			
						
			</div>