		<div class="container pagecontainer offset-0"> 

			<!-- SLIDER -->
			<div class="col-md-8 details-slider">
			
				<div id="c-carousel">
					<div id="wrapper">
					
						<div id="inner">
							<div id="caroufredsel_wrapper2">
								<div id="carousel">
									<img src="{tag_main image_value}" alt=""/>
									<img src="{tag_image 2_value}" alt=""/>
									<img src="{tag_image 3_value}" alt=""/>
									<img src="{tag_image 4_value}" alt=""/>
									<img src="{tag_image 5_value}" alt=""/>
									<img src="{tag_image 6_value}" alt=""/>	
									<img src="{tag_image 7_value}" alt=""/>							
								</div>
							</div>
							<div id="pager-wrapper">
								<div id="pager">
									<img src="{tag_main image thumbnail_value}" width="120" height="68" alt=""/>
									<img src="{tag_image 2 thumbnail_value}" width="120" height="68" alt=""/>
									<img src="{tag_image 3 thumbnail_value}" width="120" height="68" alt=""/>
									<img src="{tag_image 4 thumbnail_value}" width="120" height="68" alt=""/>
									<img src="{tag_image 5 thumbnail_value}" width="120" height="68" alt=""/>
									<img src="{tag_image 6 thumbnail_value}" width="120" height="68" alt=""/>
									<img src="{tag_image 7 thumbnail_value}" width="120" height="68" alt=""/>						
								</div>
							</div>
						</div>
						
						<div class="clearfix"></div>
                        <button id="prev_btn2" class="prev2"><img src="/_assets/images/spacer.png" alt=""/></button>
                        <button id="next_btn2" class="next2"><img src="/_assets/images/spacer.png" alt=""/></button>		
					</div>
				
				</div> <!-- /c-carousel -->
				
			</div>
			<!-- END OF SLIDER -->			
			
			<!-- RIGHT INFO -->
			<div class="col-md-4 detailsright offset-0">
				<div class="hpadding20">
					<h2>{tag_name}</h2>
					<h4 class="grey2 slim">{tag_trip duration (in days)}-Day {tag_subtitle}</h4>
				</div>
				<hr />
				<div class="hpadding20">
					<h3 class="price"><span class="grey2 size16">Price per person:</span> <b>${tag_price}</b></h3>
				</div>
				<div class="clearfix"></div>
				<hr />
				<div class="hpadding20">
					<p class="short-desc">{tag_short description}</p>
				</div>
				<div class="clearfix"></div>
				<div class="detail-btns">
				<hr />
					<div class="hpadding20">
						<div class="depart margtop5">
							<h5><strong>Departure Date: <span class="dep-date">{tag_trip start date}</span></strong></h5>
						</div>
						<a href="/payment/pay-now?amt={tag_price}&amp;imgPath={tag_main image thumbnail_value}&amp;name={tag_name}&amp;subtitle={tag_trip duration (in days)}-Day {tag_subtitle}" class="booknow margtop20 btnmarg">Book Now</a>
					</div>
				</div>
			</div>
			<!-- END OF RIGHT INFO -->

		</div>
		<!-- END OF container-->
		
		<div class="container mt25 offset-0 detail-content">

			<!-- MAIN Tab Content -->
			<div class="col-md-8 pagecontainer2 offset-0">
				<div class="cstyle10"></div>
		
				<ul class="nav nav-tabs" id="myTab">
				
					<li onclick="mySelectUpdate()" class="active">
						<a data-toggle="tab" href="#summary"><span><em class="icon-info-sign"></em></span><span class="hidetext">Summary</span>&nbsp;</a>
					</li>
					<li class="">
						<a data-toggle="tab" href="#maps"><span><em class="icon-map-marker"></em></span><span class="hidetext">Maps</span>&nbsp;</a>
					</li>
					<li class="">
						<a data-toggle="tab" href="#comments"><span><em class="icon-comment"></em></span><span class="hidetext">Comments</span>&nbsp;</a>
					</li>
					
				</ul>			
				<div class="tab-content4">
				
					<!-- TAB 1 -->				
					<div id="summary" class="tab-pane fade active in">
						<div class="hpadding20">
							{tag_description}
							<div class="clearfix"></div>
						</div>
						<hr />
						
					</div>
					
					<!-- TAB 2 -->					
					<div id="maps" class="tab-pane fade">
						<div class="hpadding20">
							<div class="map-container">
								{tag_map embed code}
							</div>
						</div>
					</div>
					
					<!-- TAB 3 -->					
					<div id="comments" class="tab-pane fade ">
						
						<div class="hpadding20">
							<div id="fb-root"></div>
                            <script>(function(d, s, id) {
                              var js, fjs = d.getElementsByTagName(s)[0];
                              if (d.getElementById(id)) return;
                              js = d.createElement(s); js.id = id;
                              js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=160744484012881";
                              fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));</script>
                            <div class="fb-comments" data-href="{tag_itemurl_withhost}" data-numposts="5" data-colorscheme="light"></div>
						</div>
						<div class="clearfix"></div>

					</div>		
					
											
				</div>
			</div>
			<!-- END OF tab Content -->
			
			<!-- Sidebars-->
			<div class="col-md-4 sidebar">
				
				{module_contentholder, name="_Sidebar - Help"}		
			
			</div>
			<!-- END OF sidebars -->
			
			<div class="clearfix"></div>
		</div>