							<li> 
								<a href="{tag_itemurl_nolink}" class="deal-link"><img src="{tag_main image_value}" alt=""/></a>
								<div class="m1">
									<h6>{tag_name}</h6>
									<h6 class="green">{tag_trip duration (in days)}-Day {tag_subtitle}</h6>												</div>
							</li>
							