					<div class="offset-2"> 
						<div class="col-md-4 offset-0">
						
							<div class="listitem2">
								<a href="#"><img src="{tag_main image_value}" alt=""/></a>
								<a href="{tag_itemurl_nolink}"><div class="liover"></div></a>
								<a class="fav-icon" href="{tag_itemurl_nolink}"></a>
							</div>
							
						</div>
						<div class="col-md-8 offset-0">
						
							<div class="itemlabel3">
								<div class="labelleft2">
									<header class="tour-details clearfix">
										<h4>{tag_name}
											<span class="price">
												from <b>${tag_price}</b>
											</span>
										</h4>
									</header>
									<p class="tour-subheader">{tag_trip duration (in days)}-Day {tag_subtitle}</p>			
									<h5><strong>Departure Date: <span class="dep-date">{tag_trip start date}</span></strong></h5>
									<div class="col-md-9 offset-0">	
										<p class="grey short-desc">{tag_short description}</p>
									</div>
									<div class="col-md-3 offset-0">
										<p>
											<a class="btn greenbtn smallbtn right" href="{tag_itemurl_nolink}">Details</a>
										</p>
									</div>
								</div>
							</div>
							
						</div>
					</div>

					<div class="clearfix"></div>
					<div class="offset-2"><hr class="featurette-divider3"></div>
					
					
					