@{
	DateTime ChatStart = new DateTime();
	if(Request.Form["ChatStart"].IsEmpty()){ChatStart = DateTime.Now;}else{ChatStart = DateTime.Parse(Request.Form["ChatStart"]);}
	var db = Database.Open("ColonielHeights");
	//var messages = db.QuerySingle("SELECT * FROM website_livechat WHERE date>'@0' ORDER BY date DESC", date);	//date.ToString("d")
	string SendMsg = string.Empty;

	if(IsPost){
        // Verify the request was submitted by the user
        AntiForgery.Validate();

		var sql = @"INSERT INTO website_livechat (userid, userName, ipaddress, postmsg) VALUES (@0, @1, @2, @3)";
		int userid = WebSecurity.IsAuthenticated ? WebSecurity.CurrentUserId : 0;
		var username = WebSecurity.IsAuthenticated ? db.QueryValue("SELECT Username FROM UserProfile WHERE userid=@0",WebSecurity.CurrentUserId) : "Guest";

		System.Web.HttpContext context = System.Web.HttpContext.Current; 
		string ipAddress = context.Request.ServerVariables["HTTP_X_FORWARDED_FOR"];
		if (!string.IsNullOrEmpty(ipAddress))
		{
			string[] addresses = ipAddress.Split(',');
			if (addresses.Length != 0)
			{
				ipAddress = addresses[0];
			}
		}
		else{ipAddress = context.Request.ServerVariables["REMOTE_ADDR"];}

		db.Execute(sql, userid,username,ipAddress, Request.Form["SendMsg"]);
		
		//Context.RedirectLocal("~/features/livechat");
	}
}
<div id="chat-window" onload="javascript:document.addEventListener('mouseup', mouseup)">
	<div id="display-window">
		<div id="display-text" style="/*width: 300px; height: 400px;*/ overflow-y: scroll;">
			@*RenderPage("~/Layouts/LiveChat/chat_msgs.cshtml")*@
		</div>
		<div id="loggedusers">
			@RenderPage("~/Layouts/LiveChat/users_logged.cshtml")
		</div>
	</div>
	<div id="chat-msg">
		<form id="PostMsg" method="post" @*action="/Layouts/LiveChat/chat_window"*@ >
			@AntiForgery.GetHtml()
			<input type="text" id="SendMsg" name="SendMsg" spellcheck="true" @*value="@SendMsg"*@ placeholder="Enter Message" autocomplete="off"  />
			@*"javascript:document.getElementById('PostMsg').submit()"*@
			<input type="submit" value="Send" />
			<input type="hidden" id="ChatStart" name="ChatStart" value="@ChatStart" />
		</form>
	</div>
</div>
<p>Click to Join Connection</p>
<script>
	function SubmitOnEnter() {
		document.getElementById("SendMsg").addEventListener("keydown", function (e) {
			if (!e) { var e = window.event; }
			e.preventDefault(); // sometimes useful

			// Enter is pressed
			if (e.keyCode == 13) { document.getElementById("PostMsg").submit(); }
		}, false);
	}

	//while mouse is up, feed msgs into div
	function showLiveMsgs() {//(str)
		var xhttp; /*
	            if (str == "") {
	                document.getElementById("display-text").innerHTML = "";
	                return;
	            }*/
		xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function () {
			if (xhttp.readyState == 4 && xhttp.status == 200) {
				document.getElementById("display-text").innerHTML = xhttp.responseText;
			}
		}
		xhttp.open("GET", "/Layouts/LiveChat/chat_msgs?date=@ChatStart", true);
		xhttp.send();
	}
	/* --------------------------------------------------------- */
	var mousedownID = -1;  //Global ID of mouse down interval
	function mousedown(event) {
		if (mousedownID != -1) {  //Only stop if exists
			clearInterval(mousedownID);
			mousedownID = -1;
		}
	}
	function mouseup(event) {
		if (mousedownID == -1) {  //Prevent multiple loops!
			mousedownID = setInterval(showLiveMsgs, 10 /*execute every 10ms*/);
		}
	}
	//Assign events
	document.addEventListener("mousedown", mousedown);
	document.addEventListener("mouseup", mouseup);
	//Also clear the interval when user leaves the window with mouse
	document.addEventListener("mouseout", mousedown);
	document.addEventListener("pageshow", mouseup);

	/* Click to Join 
	var timeout, clicker = $('#chat-window');
	//var count = 0;

	clicker.mouseup(function () {
		timeout = setInterval(function () {
			//clicker.text(count++);
			showLiveMsgs();
		}, 100); //500

		return false;
	});

	$(document).mousedown(function () {
		clearInterval(timeout);
		return false;
	});*/
</script>