					<div class="col-lg-4">
                        <!-- Start Profile Widget -->
                        <div class="profile-widget text-center">
                            <div class="bg-info bg-profile"></div>
                            <img src="img/avatar-2.jpg" class="thumb-lg img-circle img-thumbnail" alt="img">
                            <h3>Jonathan Doe</h3>
                            <p><i class="fa fa-map-marker"></i> London</p>
                            <a href="#" class="btn btn-sm btn-purple m-t-20">Follow</a>
                            <ul class="list-inline widget-list clearfix">
                                <li class="col-md-4"><span>2.109</span>Followers</li>
                                <li class="col-md-4"><span>596</span>Photos</li>
                                <li class="col-md-4"><span>902</span>Like</li>
                            </ul>
                        </div>
                        <!-- End Profile Widget -->
                    </div>