				<article class="testimonial">
					<div class="col-xs-4 col-md-4">
						<div class="pic">
							<img src="{tag_image_value}" alt="FirstName LastName's Photo" />
						</div>
					</div>
					<div class="col-xs-8 col-md-8">
						<p class="margtop30">{tag_testimonial}</p>
						<p class="bold lightblue"><i>- {tag_customer name}</i></p>
					</div>
					<div class="clearfix"></div>
				</article>
				<hr />
	