@{
    //custom colors for each label, store in database under profile
}

								<div class="list-group no-border">
                                  <a href="#" class="list-group-item"><span class="fa fa-circle text-info pull-right"></span>Web App</a>
                                  <a href="#" class="list-group-item"><span class="fa fa-circle text-warning pull-right"></span>Project 1</a>
                                  <a href="#" class="list-group-item"><span class="fa fa-circle text-purple pull-right"></span>Project 2</a>
                                  <a href="#" class="list-group-item"><span class="fa fa-circle text-pink pull-right"></span>Friends</a>
                                  <a href="#" class="list-group-item"><span class="fa fa-circle text-success pull-right"></span>Family</a>
                                </div>