@{ 
    
}

<div class="col-md-12">
    <h4>Personal Information</h4>
</div>
<div class="col-md-6">
    <input type="text" name="FirstName" id="FirstName" class="form-control" placeholder="First Name" />
</div>
<div class="col-md-6">
    <input type="text" name="LastName" id="LastName" class="form-control" placeholder="Last Name" />
</div>
<div class="col-md-6">
    <input type="email" name="EmailAddress" id="EmailAddress" class="form-control" placeholder="Email Address" />
</div>
<div class="col-md-6">
    <input type="tel" name="HomePhone" id="HomePhone" class="form-control" placeholder="Phone Number" />
</div>
<div class="clearfix"></div>
<div class="col-md-12"><!-- No PO BOX info for Billing-->
    <h4>Billing Information</h4>
</div>
<div class="col-md-6">
    <input type="text" name="BillingAddress" id="BillingAddress" class="form-control" placeholder="Billing Address" />
</div>
<div class="col-md-4">
    <input type="text" name="BillingCity" id="BillingCity" class="form-control" placeholder="City" />
</div>
<div class="col-md-2">
    <input type="text" name="BillingState" id="BillingState" class="form-control" placeholder="State" />
</div>
<div class="col-md-6">
    <input type="text" name="BillingZip" id="BillingZip" class="form-control" placeholder="Zipcode/Postcode" />
</div>
<div class="col-md-6">
        @Html.DropDownList("BillingCountry","-- Select Country --",CountryItems,"US",new Dictionary<string, object>(){{ "id", "BillingCountry"}, {"class","form-control mySelectBoxClass" }})
</div>