@{
    //Happy Customers
	//Happy Clients
	//Happy Members
	//Happy Employees
	//Happy Vendors
	//Happy Affiliates
}
Websecurity if logged can see this page

if click submit testimoney
send an email to me with ticket/token number
make form input to submit token info as well

make testimoney url data 2 to review (urldata 1)
make member id urldata 3 after testimoney

Review: Service/Product
Service/Product (Client/Customer): Enter Transaction
Member/Employee: Enter MemberID


Review experience: 1-5
Optional Text : Positive or Negative Feedback?
Name
Date
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        
    </body>
</html>
