@{
    
}

<div class="widget">
                                <div class="widget-header">
                                    <h3>Browse by Brand</h3>
                                </div>
                                <div class="widget-body">
                                    <ul class="brands">
                                        <li><label><input type="checkbox"> Apple</label></li>
                                        <li><label><input type="checkbox"> Asus</label></li>
                                        <li><label><input type="checkbox"> Acer</label></li>
                                        <li><label><input type="checkbox"> Nexus</label></li>
                                        <li><label><input type="checkbox"> Nokia</label></li>
                                        <li><label><input type="checkbox"> Lenovo</label></li>
                                        <li><label><input type="checkbox"> Samsung</label></li>
                                    </ul>
                                </div>  
                            </div>