@{
    
}

<div class="widget">
                                <div class="widget-header">
                                    <h3>Seller</h3>
                                </div>
                                <div class="widget-body text-center">
                                    <img alt="avatar" src="assets/img/people/gie.jpg" class="seller-avatar img-responsive">
                                    <h2 class="seller-name">John Doe</h2>
                                    <p class="seller-detail">Location: <strong>Orlando</strong><br/>
                                        Joined : <strong>21 June 2010</strong></p>
                                </div>
                                <div class="widget-footer">
                                    <div class="row">
                                        <div class="col-sm-6">    
                                            <button class="btn btn-info btn-block"><i class="fa fa-whatsapp"></i> 0823 4223 4234</button>
                                        </div>
                                        <div class="col-sm-6">
                                            <button class="btn btn-warning btn-block" data-target="#sendMessageModal" data-toggle="modal"><i class="fa fa-envelope"></i> Send Message</button>
                                        </div>
                                    </div>
                                </div>
                            </div>