@{
    
}

<div class="widget">
                                <div class="widget-header">
                                    <h3>Quick Signup</h3>
                                </div>
                                <div class="widget-body">
                                    <form method="post" action="">
                                        <!--<div class="form-group">
                                            <input type="text" placeholder="Name" class="form-control input-lg">
                                        </div>-->
                                        <div class="form-group">
                                            <input type="email" name="email" id="email" placeholder="Email" class="form-control input-lg">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="password" id="password" placeholder="Password" class="form-control input-lg">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" class="form-control input-lg">
                                        </div>
                                        <div class="form-group">
                                            <div class="checkbox">
                                                <label class="string optional" for="terms">
                                                    <input type="checkbox" id="terms" style="">
                                                    <a href="#">I Agree with Term and Conditions</a>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-block btn-custom">Sign Up</button>
                                        </div>
                                    </form>
                                </div>
                            </div>